[2017-07-21 13:59] agudian opened #2 "Prepare to perform releases via Travis"
In order to perform automated releases to Maven central and to Docker Hub, we need to implement a mechanism that allows us to run the release job on Travis-CI.

We could do something along the following:
- use a special branch "release" on which Travis will:
  - invoke the `mvn release...` commands instead of the `mvn clean install`.
  - the Maven release job should not directly push the Git commi

[2017-11-09 00:37] CpuID opened #7 "[Feature] Support ListObjectsV2"
http://docs.aws.amazon.com/AmazonS3/latest/API/v2-RESTBucketGET.html

Supports extra args/pagination mechanisms, compared to the old v1:

http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGET.html

An example of support in another project, maybe port it across? https://github.com/MathieuLoutre/mock-aws-s3/pull/45/files

[2017-11-27 08:46] agudian commented on #7
Thanks for the suggestion, we'd happily review any pull requests! Would you be open to contribute one, @CpuID?

[2017-11-30 22:37] bamthomas opened #8 "Can't putObject with path as a key"
Hi all,

I can't do a putObject with a path key :

      @Test
      public void shouldUploadObjectWithAPath() throws Exception {
            final File uploadFile = new File(UPLOAD_FILE_NAME);

            s3Client.createBucket(BUCKET_NAME);
            s3Client.putObject(new PutObjectRequest(BUCKET_NAME,UPLOAD_FILE_NAME, uploadFile));

            assertThat(s3Client.doesObjectExist(BUCKET_NAME,

[2017-12-01 07:55] timoe commented on #8
Thanks for that @bamthomas.
This is caused by the path mapping in FileStoreController#putObject where mapping is not able to handle `/` separators within the key.

[2017-12-05 14:58] magro commented on #8
@timoe Are you referring to the request mapping `"/{bucketName}/{fileName:.+}"`? We're running into this as well, and the question how easily/fast this can be fixed (as everybody else we're on an extremely tight schedule right now ;-)).

[2017-12-05 16:51] timoe commented on #8
@magro: Right, that’s what I assume.

We have to
* play around with that mapping pattern and find a better one or
* include the buckets name only and get remaining path from the Request URI

However, we´re going to work on that.

[2017-12-06 08:38] magro commented on #8
@timoe Ok. Because this is that urgent for us we'll now try to fix this. In the good case that we can come up with a PR, how fast could you release it?

[2017-12-06 10:48] timoe commented on #8
@magro: I played around with mapping patterns but got stuck for some methods. So I reworked mappings for extracting the object key from request URI.

I already opened a PR for it based on this branch https://github.com/timoe/S3Mock/tree/fix/put_objects_including_path_fragments. You might to take a look at it and give it a try on your side.

Grüße vom Fischmarkt.

[2017-12-06 13:11] mattelacchiato commented on #8
I'll have a look

[2017-12-06 13:47] mattelacchiato commented on #8
There's currently no error returning for requests with slashes in the key. But a simple PUT for an object and the list this object does not work:
[code]

[2017-12-06 14:02] timoe commented on #8
@mattelacchiato: Can you please add a code snippet / unit test for that.

I tried listing bucket objects inside a folder and failed. As I did updates on it: Can you please pull the branch I mentioned again. It contains an update regarding visiting the directory hierarchy within the bucket which hopefully solves that problem.

[2017-12-06 14:19] mattelacchiato commented on #8
Yeah, it works! When will you release it? Do you still need a test for that?

[2017-12-06 14:31] #8 closed

[2017-12-06 14:36] agudian commented on #8
Great, will rolll the release now...

[2017-12-06 14:45] magro commented on #8
Awesome, thanks @timoe and @agudian !

[2017-12-06 18:39] agudian commented on #8
We had some issues with the release, so there was a bit of a delay. Version 1.0.2 is now pushed to Docker-Hub and to Maven-Central.

[2017-12-12 08:28] bamthomas opened #13 "Should sync path fragment"
Hi all,

First of all thank you for the fix of the issue https://github.com/adobe/S3Mock/issues/8

I'm using the S3Mock that I find very convenient for integration tests and I have a new case that fails :

    @Rule
    public TemporaryFolder folder= new TemporaryFolder();
    @Test
    public void shouldSyncPathFragment() {
      final File uploadFile = new File(UPLOAD_FILE_NAME);

      s3Client

[2017-12-12 09:15] agudian commented on #13
Yes, it seems like we don't have that part of the API covered, yet. Would you be open to investigate the exact API calls that are performed there and create a PR with the extension?

[2017-12-12 09:54] bamthomas commented on #13
I'm going to try to have a look even if I'm not very familiar with spring boot and the implemented stack ;)

[2017-12-12 12:59] bamthomas commented on #13
My mistake, multiple download actually works as the client downloads the list returned by the

    GET /mydemotestbucket/?prefix=src&delimiter=%2F&encoding-type=url

with regular download requests.
So this test is already green :

    @Rule
    public TemporaryFolder folder= new TemporaryFolder();

    @Test
    public void shouldSyncPathFragment() throws Exception {
      final File uploadFile =

[2017-12-12 12:59] #13 closed

[2017-12-14 10:14] magro opened #15 "List Multipart Uploads not supported?"
I'm using `s3Client.listMultipartUploads` to check for existing multipart uploads, but it always returns an empty list in `getMultipartUploads`. After a quick look in `FileStoreController` it seems that this is not supported, right? It would be great if this could be added, I might also try to submit a PR for this.

[2017-12-14 10:36] agudian commented on #15
Sure, a PR would be very much appreciated 👍

[2017-12-20 10:02] #15 closed

[2018-01-04 15:32] agudian commented on #2
Done. Releases  can now be triggerd by running `.travis/release.sh` locally.

Prerequisite:
[code]

[2018-01-04 15:32] #2 closed

[2018-01-09 12:24] sujithvbsl opened #25 "[Feature] adding option to configure FileStore root directory"
Hi

I am using S3Mock for my integration tests. Sometimes on my workplace VM or on the test environment, housekeeping jobs deletes all contents in the /tmp folder. It will be a good feature if we could configure the FileStore root directory instead creating it in default construct.

Thanks,

Sujith

[2018-01-09 12:30] timoe commented on #25
Sounds useful, thanks for that suggestion @sujithvbsl. We'd happily review any pull requests. Would you be open to contribute one?

[2018-02-02 19:35] ArnoTurelinckx commented on #25
opened a pull request for this
https://github.com/adobe/S3Mock/pull/28
providing a builder for the classrule and the option to provide an argument(root) when running the application

[2018-02-03 16:11] sfali opened #29 "Support for "from offset" range (e.g., bytes=9500-)"
Hi There,

The `Range` header of with value _bytes=9500-_ is a valid header, which represents start from byte 9500 to the end of file).

Currently code fails to convert such byte range and failed with exception.

This should be easy fix, would you mine if I fork, fix, and create PR.

Regards,

Syed Farhan Ali

[2018-02-03 17:49] agudian commented on #29
Hey, thanks! We’d love it if you sent in a PR with a fix 👍
I think we have some tests for the byte range stuff that could be extended withthis case as well...

[2018-02-05 14:24] sfali commented on #29
Thanks for accepting PR.

Would you mind pushing change to docker hub as well?

[2018-02-05 15:52] timoe commented on #29
Yepp, I'll do.

[2018-02-05 16:08] sfali commented on #29
Thanks, this issue can be closed as well.

[2018-02-13 13:57] cstamas opened #32 "Last-Modified header missing from blob response"
Causes with JClouds 2.0.3:
[code]

[2018-02-13 15:03] agudian commented on #32
Hey Tamas,

thanks for the report! Would you be interested in creating a PR to add the header?

[2018-02-14 13:11] Junkern opened #33 "Support signatureVersion v4 for s3 upload"
When using `upload()` to upload a file (or stream) to the s3 mock, it always worked, but it did not store any content. When retrieving the stored file, it was of `Content-Length: 0`.

To make it work with the s3mock, I have to add `signatureVersion: 'v2'` to the params when initializing the s3 aws client.

Not sure if that applies to other "upload stuff"-functions as well.

[2018-02-14 13:12] #29 closed

[2018-02-14 13:13] #25 closed

[2018-02-14 13:14] timoe commented on #33
Hey @Junkern ,

thanks for the report! Would you be interested in creating a PR to support v4?

[2018-02-16 14:27] sfali opened #35 "Question - MultiPartUpload response content type"
Hello,

This is more of a question, I am trying to figure out where is the gap.

We are using `Scala` as  programming language, for reading and writing to S3 we are using `Alpakka`, which  provide us streaming.
We are using multi part upload which works fine when directly using `Amazon S3` but when using agains `S3Mock` we get following error:

`Unsupported Content-Type, supported: application/xml

[2018-02-19 07:50] agudian commented on #35
Interesting. Which request (or part of the multipart upload sequence) is causing the trouble?

I can see that for some of those methods we don't have a Content-Type defined... Would be nice if you could help us sort this out.

[2018-02-19 17:11] sfali commented on #35
After further investigation, looks like it is failing on `initiateMultipartUpload`, interestingly this method producing  `application/x-www-form-urlencoded` .

[2018-02-19 19:01] marcosnils opened #36 "add support for xml responses?"
First of all, thanks for putting such effort in this amazing project. We're using it internally in our company to run the integration tests and everything has been running expected.

We're wondering if there's a plan to add support for XML responses soon. The reason for this is because in our particular case we're trying to write a test when we get a `not found` from the `getObject` method, but se

[2018-02-20 10:41] timoe commented on #36
Hi @marcosnils,

this is a bug. According to https://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html a suitable Http status as well as a error response should be returned. I think we can go for a first fix within getObject but we have to extend S3Mock for error responses in general.

[2018-02-20 10:54] marcosnils commented on #36
Nice. Can we go ahead and send a PR for this particular case and then move from there?

[2018-02-20 10:55] marcosnils commented on #36
Nice. Can we go ahead and send a PR for this particular case and then move from there?

[2018-02-20 10:56] timoe commented on #36
Yes, would be nice of you can provide a PR. We already have stuff for returning error responses. See KMSValidationFilter#doFilterInternal for an example. Based on something like that I'd like to generalize. But let's fix that getObject Bug first.

[2018-02-21 15:24] sfali commented on #35
I tried changing `application/x-www-form-urlencoded` to `application/octet-stream`, the error I got back in my client was:

```org.xml.sax.SAXParseException; lineNumber: 1; columnNumber: 1; Premature end of file.```

[2018-02-26 15:47] timoe commented on #36
@marcosnils: I implemented basic Error Handling that checks for non existing Buckets and Objects. This commit hits master. Would be nice if you can clone master branch and verify if it fits your expectations.

[2018-02-27 12:52] marcosnils commented on #36
@timoe thx for the update. I'll give it a try right away and let u know the results.

[2018-02-27 12:57] marcosnils commented on #36
@timoe is there a Dockerfile somewhere to build the image locally to test it?

[2018-02-27 12:58] agudian commented on #36
Just `mvn install`, it will also create the Docker image.

[2018-02-27 12:59] marcosnils commented on #36
Just realized the image creation is used via maven. Thx @agudian

[2018-02-27 15:39] timoe commented on #36
Ok. I'll do a release and close this issue

[2018-02-27 15:41] timoe commented on #36
Release is on its way, Issue will be closed

[2018-02-27 15:41] #36 closed

[2018-03-13 10:06] agudian opened #39 "Split mock and JUnit rules into separate modules and add JUnit 5 support"
Many users don't use the JUnit rule to start the service and to create the S3 client instance and don't want the dependency, or rather want to use a proper JUnit 5 support.

To allow for that, split up the mock application and the JUnit related classes into separate modules, e.g.:
- s3mock
- s3mock-junit4 (dependening on junit 4 and the s3mock fat-jar)
- s3mock-junit5 (dependening on junit 5 and t

[2018-03-13 10:18] agudian opened #40 "Move to latest Spring Boot, OpenJDK and add Java 9 module-infos"
Extra points for trying out creating a smaller module runtime image in the docker image.

Using the jars of the project should remain to be possible with Java 8 JREs.

Using https://github.com/moditect/moditect by @gunnarmorling can probably help here.

[2018-03-22 21:30] santthosh commented on #39
@agudian Support for TestNG would be great, I can help

[2018-03-26 18:17] agudian commented on #39
Great, I'll ping you as soon as I have the preliminary refactorings in place. I haven't worked with TestNG in ages, so any help there will be very welcome.

[2018-04-08 18:01] agudian opened #44 "Avoid logging StackTraces when sending error responses"
We should avoid letting the default dispatcher Servlet log out the ridiculously long stack traces when we return error responses.

Perhaps using `ResponseEntityExceptionHandler` instead of `HandlerExceptionResolver` could help there.

[2018-04-09 13:15] agudian commented on #39
@santthosh The refactoring is done, the master branch now has separate modules for junit4 and junit5. Feel free to open a PR for adding a testng variant.

[2018-04-09 13:15] #39 closed

[2018-04-10 11:28] sbrannen opened #46 "Update heading for repository"
### Current

_A simple mock implementation of the AWS S3 API startable as Docker image or JUnit rule_

### Expected

_A simple mock implementation of the AWS S3 API startable as Docker image, JUnit 4 rule, or JUnit Jupiter extension_

[2018-04-10 11:33] agudian commented on #46
Well spotted! Thanks!

[2018-04-10 11:33] #46 closed

[2018-04-10 11:36] sbrannen commented on #46
Well, @mmerdes actually spotted it. I just reported it. 😉

Thanks for the quick turnaround!

[2018-04-11 08:44] timoe opened #47 "DELETE non existing S3 Object results in HTTP 404 Not Found"
AWS doc. says `The DELETE operation removes the null version (if there is one)` . So, if an Object does not exist, `204 No Content` is still returned.

[2018-04-18 09:43] santthosh opened #49 "[Feature] Support Tagging"
Can we please support?

https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUTtagging.html
https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectGETtagging.html

[2018-04-18 10:06] agudian commented on #49
Sure!

Would you be open to contribute that feature to speed things up?

[2018-04-18 17:04] santthosh commented on #49
Sure @agudian I'll give it a shot and send in a PR

[2018-04-25 18:02] rutarb opened #50 "PutObject returns "201 Created" rather than "200 OK""
Hi,

First of all thank you for even coming up with this project, let alone for making it publicly available, I've been looking for a replacement of fake-s3 that we were using internally for years when I found this repo. We were looking for an alternative that had a fully implemented multipart upload API and voila, this project has it! Good job!

**Now the question:** I see that PUT Object API cur

[2018-04-25 19:24] agudian commented on #50
Thanks for the kind words!

Our goal is to let the mock behave as much as possible like the real S3 endpoint.
So if the PUT returns a 200 there, we should do the same (200 on PUT sounds much more reasonable to me anyway 👍).

Would you be interested in contributing a PR for that?

[2018-04-26 13:31] rutarb commented on #50
I see @timoe already did. :)

[2018-04-27 07:24] timoe commented on #50
@rutarb: Release `2.0.2` is on its way.

[2018-04-27 07:24] #50 closed

[2018-04-30 06:18] kkuo opened #54 "Multiple spring boot servers in class path?"
This is more of a question. I'm trying to use s3mock using the junit rule method. While running it using the sample from this repository I can see that the server is started, when I try to do the same in my project it doesn't start s3mock, but instead tries to run my service. I am not sure how to configure it such that it knows to start s3mock instead of my service.

Any ideas?

Thanks

[2018-04-30 19:00] santthosh opened #55 "Ability to createS3Clients in a different region"
Would be useful to create S3 clients in a different region other than us-east-1, PR on the way

[2018-05-01 17:19] agudian commented on #55
Fixed through #56 by @santthosh.

Let me know if you need this in a release on short notice!

[2018-05-01 17:19] #55 closed

[2018-05-01 21:06] kkuo commented on #54
@agudian correct it doesn't start with com.adobe.testing.

[2018-05-03 01:40] ateebkhawaja opened #59 "Spring Security on The Classpath results in 401"
I am running the JUnit4 example given here:

https://github.com/adobe/S3Mock/blob/master/testsupport/junit4/src/test/java/com/adobe/testing/s3mock/junit4/S3MockRuleTest.java

I had alot of dependencies in my project, so I had to go through each one, one by one to narrow it down to this. Once the following dependency is in the POM, the exception below starts to show up. The test has not been modifi

[2018-05-03 11:37] timoe commented on #59
Hi @ateebkhawaja,

I setup a Maven Project with that dep. constellation
[code]

and was able to reproduce it. Smells like a Bug, I'll take care.

[2018-05-03 12:18] timoe commented on #59
@ateebkhawaja: I found a potential fix. To verify this, can you please pull this branch: https://github.com/timoe/S3Mock/tree/fix/disable-security-auto-config. It excludes SecurityAutoConfiguration from Spring Boot Application:

[code]

an I got my local test running.

[2018-05-03 14:08] ateebkhawaja commented on #59
@timoe I tested this locally with my project and it is working now. Thanks.

[2018-05-04 08:35] timoe commented on #59
release is on its way @ateebkhawaja

[2018-05-04 08:36] #59 closed

[2018-05-06 04:20] ateebkhawaja opened #61 "Consul Auto Config Causes Failure"
Hello Everyone. I am back again with another bug.

I am facing a similar issue as with the Security Auto Config. The project included Consul as a key/value store. When the following dependency is included, the app tries to connect to consul even in JUnits, which causes a failure. While the service does use Consul, JUnits should not be reliant on the service being up or down.

Parent:
[code]

Depen

[2018-05-06 17:48] agudian commented on #61
Thanks a lot! I guess we’ll have to disable auto-configs completely...

[2018-05-07 02:48] ateebkhawaja commented on #61
I attempted to exclude AutoConfg's using AspectJ filters and Regex, but unfortunately, some of them are needed for loading the context itself. One option is to take every AutoConfig class that from the Spring Docs and put them in but that's an ugly solution.

Something that came to mind was to have the Rule somehow read the EnableAutoConfiguration annotation from the test class itself. I don't kno

[2018-05-07 11:07] konraifen88 opened #62 "Support @Nested for JUnit5"
Hi Adobe-team,

when trying to use JUnit5  nested tests and the `@ExtendWith` method the mock fails with following error:

`org.springframework.boot.web.embedded.tomcat.ConnectorStartFailedException: Connector configured to listen on port 8086 failed to start`

## Cause

In the log we can see, that the mock tries to start a second time. When the `@BeforeAll` in the nested test class is called.

##

[2018-05-07 11:31] agudian commented on #62
Thanks for the detailed report!

The approach sounds good to me, although I'd use instance of `AtomicInteger` or something like that to have a defined threading behavior.

Feel free to send in a PR with a corresponding test!

[2018-05-08 01:14] kkuo commented on #54
I ended up just starting the docker image from maven.

[2018-05-08 01:14] #54 closed

[2018-05-08 01:15] kkuo opened #64 "Support versioning"
Would like to see versioning supported.

[2018-05-08 01:17] kkuo opened #65 "Multipart etag return '-1' regardless of number of parts"
S3Mock seems to return a `-1` with the `completeMultipartUpload` request, but the etag always ends with `-1` when it should be returning `-N` where N is the number of ETag parts.

[2018-05-08 08:20] kkuo opened #66 "Multipart md5 hash calculation is incorrect"
It looks like in `FileStore.java` the ETag is calculated as the md5 of the entire file. This isn't correct according to this answer on stack exchange: https://stackoverflow.com/questions/12186993/what-is-the-algorithm-to-compute-the-amazon-s3-etag-for-a-file-larger-than-5gb

If I understand correctly for a multipart upload the hash should really be:

md5 of concatenated byte arrays of each part's

[2018-05-08 08:27] timoe commented on #66
Thanks for reporting @kkuo. Would you like to contribute that?

[2018-05-08 08:27] timoe commented on #65
Thanks for reporting @kkuo. Would you like to send a PR for that?

[2018-05-09 16:34] kkuo opened #67 "Lexical sort results in corrupted files"
In `FileStore::completeMultipartUpload` when the parts are put together it is sorted using lexical order. This leads to corrupted files if the number of parts is > 10

        Arrays.sort(partNames);

This leads to (for example):
0.part
1.part
10.part
11.part
2.part
3.part
.
.
etc

[2018-05-10 02:40] kkuo commented on #66
I don't have it fixed locally just bypassed the bug in my code, but I can make a PR for it, and with the other issues that I have found.

[2018-05-10 18:46] kkuo commented on #67
I got to finish up a few other things and I'll put together PRs for all the bugs I found.

[2018-05-10 22:38] santthosh commented on #49
@agudian can you please review and let me know. Thanks

[2018-05-12 06:56] timoe opened #70 "Enforce Googles Java Codestyle"
Let's find a way to enforce Google Java Codestyle (https://google.github.io/styleguide/javaguide.html). Contributions are increasing and we have various inconsistencies regarding style.

[2018-05-12 10:33] agudian commented on #49
@timoe merged it. Thanks, @santthosh!

[2018-05-12 10:33] #49 closed

[2018-05-21 13:55] kkuo commented on #67
@timoe @agudian Sorry I was out of the office last week. Thanks for fixing this.

[2018-05-21 13:56] kkuo commented on #66
I can work on this in the next few days.

[2018-05-22 08:46] #70 closed

[2018-05-22 15:19] #65 closed

[2018-05-22 15:19] #67 closed

[2018-05-24 13:50] vroudge opened #74 "Support for CORS headers"
Hello!

I'm trying to use this to test a browser-based uploader. I get issues related to CORS. Is there anyway to set the cross origin headers with S3Mock ?

[2018-05-24 14:07] agudian commented on #74
We don’t have that, yet. But I bet it can be added through Spring Boot...

[2018-05-24 14:11] vroudge commented on #74
That would be brilliant. I'm not a Java person myself, but I'll keep looking at this ticket, it's a very interesting feature.

[2018-05-28 15:49] bigman3 opened #75 "limit spring application executors number"
upon application start, it initializes some executor threads, 1 for each vCore AFAIU.

If initialized with
S3MockApplication.start(props),

what  key-value should be passed to configure executors number?

My use case is non parallel requests to S3.

Thanks

[2018-05-29 09:21] timoe commented on #75
Hi @bigman3,

S3Mock uses an embedded Tomcat, currently 8.5.29. You can limit the number of max Tomcat Threads setting `server.tomcat.max-threads`, e.g. `-Dserver.tomcat.max-threads=10`.

How do you make use of S3Mock? Start it by your own? Use the Docker image? Use JUnit/TestNG integration?

Hope that helps
Timo

[2018-05-29 09:48] bigman3 commented on #75
@timoe

in JUnit test setup , I do
_S3MockApplication.start(propertiesMap)_

where  propertiesMap contains settings for port, initial bucket etc.

so I should set  "server.tomcat.max-threads"  JVM environment variable, to the desired value?
Or I can somehow pass a key-value setting via propertiesMap ?

[2018-05-30 08:36] timoe commented on #75
I set `-Dserver.tomcat.max-threads=1` as a VM option and debugged it down to the point where Tomcat-Connector was configured for the max thread count.

Unfortunately passing properties
[code]

via `S3MockApplication.start(propertiesMap)` will not work as the start method takes the commandline arguments S3 Mock is started with but not the environment properties which are needed to configure e.g. `s

[2018-06-01 01:16] danielcompton opened #76 "Setting silent from the Docker command line?"
I can set other properties when running S3Mock via Docker, but the silent parameter doesn't seem to be picked up?

[code]

The other parameters seem to be picked up, but not `--silent=true`. Is there another way I should be doing this?

[2018-06-01 09:00] timoe commented on #76
Thanks for reporting @danielcompton. We'll take a look at it.

[2018-06-04 12:30] timoe opened #77 "S3Mock Configuration Options"
We had to requests regarding configuring S3Mock regarding usage of the `silent` parameter (https://github.com/adobe/S3Mock/issues/76) and Tomcats amount of threads (https://github.com/adobe/S3Mock/issues/75). Today there are some options to configure those (but there's no way to choose the option. So, `silent` can only be configured programmatically, Tomcat threads can be set via VM argument.

Let

[2018-06-04 12:31] timoe commented on #76
see https://github.com/adobe/S3Mock/issues/77

[2018-06-04 12:31] #76 closed

[2018-06-05 08:18] timoe commented on #75
Closing this one, will be covered by https://github.com/adobe/S3Mock/issues/77

[2018-06-05 08:18] #75 closed

[2018-06-05 21:47] fguime opened #78 "objectMetadata().getLastModified is null"
when working with the S3Object.getObjectMetadata().getLastModified() it returns null (When doing this through AWS. It would be best if it returns at least the lastmodifiedDate from the filesystem?

[2018-06-05 21:53] fguime commented on #78
Hm, see the actual code seems to handle it... will close this for now and investigate more

[2018-06-05 21:53] #78 closed

[2018-06-06 13:55] timoe commented on #74
@vroudge: Spring (Boot) offers CORS configuration (see: https://spring.io/blog/2015/06/08/cors-support-in-spring-framework). The most simple way to enable each and every origin would be to add a global mapping for each and every API S3Mock provides.

My current idea is to enabled origins and/or API endpoints via configuration. Before doing that, can give please give the usecase you're working on?

[2018-06-07 08:06] timoe commented on #61
@ateebkhawaja: Can you give a bit more details on your runtime setup please. I tried the following:

I added
[code]

as a dependency. Doing that causes this exception
[code]
saying, that Consul can not be reached.

I then ran Consul via
`docker run -d -p8500:8500 --name=dev-consul -e CONSUL_BIND_INTERFACE=eth0 consul`

and my test turns greens without any other adaptions.

[2018-06-07 14:02] fguime commented on #64
+1!

[2018-06-07 17:12] ateebkhawaja commented on #61
In terms of consul, whether consul is running or not should not cause the test to fail.

In my bootstrap.yml I have the consul disabled, since I don't use it for most Unit Tests. But the s3Mock ignores that and still tries to run consul config and tries to connect.

For Unit Testing, all tests should be able to run offline without any external dependencies.
Otherwise using S3Mock would not make se

[2018-06-08 08:28] timoe commented on #61
Of course, makes totally sense to disable Consul during test runs. Thanks for the info, we now can dig deeper.

[2018-06-15 07:50] sveryovka commented on #33
When testing against "master" branch I can't reproduce this problem. Can you please post some sample project to illustrate this issue?

[2018-06-21 14:07] jenkinsw1 opened #81 "NullPointerException at com.adobe.testing.s3mock.testsupport.common.S3MockStarter.getPort(S3MockStarter.java:95)"
Hi, trying to follow the JUnit4 example through and tweak it enough to work with Cucumber & Spring Boot, on Java 10...

I want to be able to start up the S3Mock instance in the Cucumber @Before hook, but unfortunately I am getting a NullPointerException error:

    java.lang.NullPointerException
	at com.adobe.testing.s3mock.testsupport.common.S3MockStarter.getPort(S3MockStarter.java:95)
	at com.ad

[2018-06-21 14:59] agudian commented on #81
The `S3MockRule` is to be used as a JUnit 4 `@ClassRule`. If Cucumber would support treating such rules, it would be possible to use it here.

But that doesn't seem to be the case, so you'd have to do the following:

[code]

You will need to find a good spot to call `S3_MOCK.stop()`, though... Is there something like `@AfterClass` or so?

[2018-06-21 15:28] jenkinsw1 commented on #81
Yes, Cucumber has an @After, so will use that, thanks.
I have updated the code to use the `startS3MockApplication()` as above, and that appears to have worked, but it is now returning an error when I try and write to the bucket:
`com.amazonaws.SdkClientException: Unable to execute HTTP request: bucket-name-here.localhost`

The command I am using to write to it is:
`this.amazonS3.putObject(this.aws

[2018-06-21 15:56] agudian commented on #81
You‘ll need to enable „path-style-access“ in the S3 client. Check out how it’s done in createS3Client method in the S3MockStarter.

[2018-06-21 18:03] Ruby20 commented on #32
I'm interested in taking this issue if it's not taken up already

[2018-06-21 18:06] cstamas commented on #32
Cool. Sorry for me not taking it, could not get to it.

T

On Thu, Jun 21, 2018, 20:04 Shravanthi <notifications@github.com> wrote:

--
Thanks,
~t~

[2018-06-22 07:34] jenkinsw1 commented on #81
Awesome, worked a treat, thanks! Also figured out how to use the `props` map to set up the initial bucket so all good.

[2018-06-22 07:34] #81 closed

[2018-06-23 17:21] agudian commented on #32
@sveryovka fixed it. Thanks for that!

[2018-06-23 17:21] #32 closed

[2018-07-19 01:19] pdacostaporto opened #85 "`aws cp` does not work with recent versions"
I'm trying to use S3Mock as part of my development environment and I sometimes have to use the AWS CLI (which might not be the intended use case).

`aws s3 cp myFile.txt s3://bucketName/myFile.txt --endpoint-url http:localhost:9090` works like a charm with version 1.11.13 of aws-cli (the one that comes from Ubuntu 16.04 repositories), but if I try to run the command on version 1.14.44 (the one tha

[2018-07-19 08:41] luispabon commented on #85
Same problem here. On the storage folder for the bucket, a folder is created of the filename, then inside the metadata file seems OK but the data file is empty.

[2018-07-19 09:32] luispabon commented on #85
It looks like I'm being denied access (I was using dodgy access keys) which is proper, but the service seems to fail over without throwing the right error.

[2018-07-19 11:32] timoe commented on #85
Thanks for reporting, I'll take a look

[2018-07-19 22:58] wmnnd opened #87 "Deleting multiple objects fails with status code 415"
Hey there,

I’m trying the S3Mock Docker image to automate testing of an Elixir application that uses S3.

I have noticed that there is one operation that consistently fails with S3Mock while it works fine with other implementations of the S3 API: Deleting multiple objects.

When I try deleting multiple objects, here is the response I get:
[code]
This is the request body that was sent:
[code]
Noth

[2018-07-20 08:11] timoe commented on #85
Can reproduce it with aws-cli/1.15.60. When Tomcat reads the InputStream it get's somehow closed / interrupted.

[2018-07-22 09:44] #7 closed

[2018-07-24 14:02] hennejg opened #89 "Support delimiter parameter to List Objects requests"
I had to learn the hard way, that this parameteris not currently supported and as a consequence, the returned results don't match what you would expect from "the real thing".

[2018-07-24 19:49] agudian opened #92 "Delete multiple objects request fails with 404 on non-existing files"
... instead, it should delete those files in the batch that exist and omit non-existing files in the response.

[2018-07-24 19:53] agudian commented on #87
`BatchDeleteRequest` is supported, and the 415 smells like we are either too strict with the required Content-Type header, or your test is not sending the right one. Which headers do you send in the request?

[2018-07-24 20:06] wmnnd commented on #87
Here is the debug information from ExAws:

[code]

[2018-07-24 20:22] agudian commented on #87
The AWS Java SDK also sets `Content-Header: application/xml`... 😕

Let's see if we find a solution for this, as we don't explicitly require a content-type in our code...

[2018-07-24 20:53] wmnnd commented on #87
Thank you for looking into this.
The S3 docs don’t mention the `Content-Type` header for requests, though:
https://docs.aws.amazon.com/AmazonS3/latest/API/multiobjectdeleteapi.html

[2018-07-25 20:01] agudian opened #94 "Store objects using normalized file names to allow special chars"
The S3 API allows for special characters in the object keys.

We don't yet support all special chars and the character `/` is interpreted as a directory delimiter (S3 doesn't do that).

I propose that we store all objects using a UUID file name and map the original object key to the UUID in a map.

[2018-07-26 13:14] agudian commented on #89
Done, implemented by @hennejg. Thanks a lot!

[2018-07-26 13:14] #89 closed

[2018-07-27 13:40] lnr0626 opened #95 "Error using ssl endpoint"
When using the default aws s3 client created by `S3MockRule.createS3Client()`, I'm getting an exception when trying to use the client. It doesn't matter which operation I try, the root exception is the same. Stacktrace:

[code]

Switching to creating an s3 client like so:
[code]
Fixes the issue. The only change I made from the `S3MockRule.createS3Client()` implementation is using `http` instead of

[2018-07-27 15:31] agudian commented on #95
Which version of the AWS SDK is on your classpath and which Java version are you using? Perhaps something changed there, as I’m sure that it worked with the SSL connection before... 🤔

[2018-07-30 06:20] #92 closed

[2018-08-08 10:44] kierachell opened #97 "getS3Objects with prefix checks the whole object name against the prefix"
### Test Case:

1. Given an s3Mock with a bucket ful'o'files and no directories

1. The base case with a `ListObjectsV2Request` will list all the files in the bucket.

[code]

1. However, if one is to use a `withPrefix` matching a part of a given obejct's name such as `f` or `bar~` or `fanciful~`:

[code]

1. You will get an empty list. Whereas the real S3 client will return non-zero amount of obj

[2018-08-08 11:34] agudian commented on #97
Thanks for the detailed bug report!

Would you be open to create a PR with a fix, as you already found the right spot?

[2018-08-08 12:50] kierachell commented on #97
I will as soon as 1-2 other people confirm that my assumption/understanding on the last line of the issue is correct.

[2018-08-08 13:12] agudian commented on #97
@hennejg do you want to add something to this?

[2018-08-27 17:57] theemathas opened #99 "List objects v1 does not honor max keys"
The S3 mock implementation seems to not honor the max-keys/maxKeys parameter when listing objects using the V1 API.

Below is java code that demonstrates the problem (using Junit 5).

[code]

[2018-08-27 18:07] agudian commented on #99
Good catch, thanks for reporting! 👍

Would you be open to create a PR with a fix? We don't yet have JUnit 5 for our main tests, though... for which I should create an issue, I guess 🙄

[2018-08-27 18:09] agudian opened #100 "Migrate tests in main module to JUnit 5"
The tests in the `server` module are still using JUnit 4. It would be nice to migrate them to JUnit 5.

[2018-08-27 18:16] agudian commented on #97
Fixed through #98 by @kierachell 🥇

I've triggered a release build... :)

[2018-08-27 18:16] #97 closed

[2018-09-06 08:14] #95 closed

[2018-09-06 08:46] agudian commented on #95
Released version 2.0.9 with the fix from @sdavids13 🎉. Thanks a lot, Steve!

[2018-09-14 09:57] ptomala5 opened #102 "Wrong alias for bucket name field in InitiateMultipartUploadResult"
Mock's InitiateMultipartUpload endpoint returns bucket name within `<Bucketname>` element (because of alias defined in InitiateMultipartUploadResult) whereas S3 documentation specify that bucket should be a content of `<Bucket>` element.

Example request:

[code]

[2018-09-15 07:54] dettmering commented on #85
Is there any fix to this yet?

[2018-09-20 12:42] timoe commented on #85
Not so far unfortunately.
My investigation so far: When copying a file Http11InputBuffer tries to read requests input stream, stops getting data at some point. This could be an issue with the Content-Length Header, replaying the request without sending Content-Length works in one of the tests I did.
This sounds a bit strange and as of that, I'm not sure if the presence of the Content-Length Header

[2018-09-21 13:46] timoe commented on #85
After exchanging Tomcat by Jetty uploads through https endpoint work as expected. However, I'll try if I get the non-ssl endpoint working.

[2018-09-23 17:31] timoe commented on #87
It definitely works when passing "Content-Type: application/xml".
`curl -XPOST --data '<?xml version="1.0" encoding="UTF-8"?><Delete><Object><Key>myFile-1</Key></Object><Object><Key>myFile-2</Key></Object></Delete>' http://localhost:9090/bucket-a/\?delete`

Debugging this a bit shows that invocation goes along the same code path either setting "Content-Type: application/xml" or not setting it. @wm

[2018-09-23 17:45] timoe commented on #33
@Junkern: Any updates here? This sounds similar to Issue #85. See my comment there, I pushed a branch that modifies upload behaviour. Can you please try that out?

[2018-09-27 08:46] timoe commented on #102
fixed by PR #103

[2018-09-27 08:46] #102 closed

[2018-09-28 06:59] timoe commented on #33
Closed due to inactivity

[2018-09-28 06:59] #33 closed

[2018-10-02 21:47] kmarkow opened #107 "Compatibility with latest aws s3 standards (signature v4)"
Spent a decent amount of time trying to get it work with official `aws-sdk@2.325.0` library for `nodejs`.
Below I describe all problems I encountered and how I worked around them.

1. Started with `docker-compose.yml` and initialized `my-bucket`
[code]

2. Created aws s3 client
[code]
3. After trying to upload my object to the bucket I would get the following error:
[code]
This error message was v

[2018-10-08 07:45] mattelacchiato commented on #66
As you can see, I've implemented a fix for this issue.

[2018-10-18 11:01] haffla commented on #74
Is there an ETA for this @timoe?

[2018-10-20 10:37] agudian commented on #100
Contributed by @nikmanG 🥇

[2018-10-20 10:37] #100 closed

[2018-10-20 11:11] #99 closed

[2018-10-20 11:12] agudian commented on #99
Fix provided by @arteam. Thanks a lot for that!

[2018-10-29 00:08] sparlampe opened #112 "Continuation token invalidated by delete."
In case the bucket has more than a 1000 objects and I would like to delete them, I list the objects batchwise using nextMarker(v1)/nextContinuationToken(v2). So I request a batch,  delete the batch, request the next batch using the next marker/token, delete it and so on.

The problem I face with the adobe/S3Mock is that the continuation token specifies the offset into the buckets current object li

[2018-10-29 07:34] agudian commented on #112
Sounds good, we'd be happy to review / merge a solution like that. 👍

[2018-11-01 17:20] andrewdmay commented on #85
@timoe I'm hitting this issue and tried out your branch. I was able to copy a file to the bucket using `aws s3 cp` but not retrieve the file due to this exception:
[code]
However using `aws s3api get-object` did work.
This was all using the HTTP endpoint.

[2018-11-02 07:28] #40 closed

[2018-11-12 08:38] magro opened #113 "s3mock 2.1.0 fails to start with"
While s3mock 2.0.11 works well in our tests, updating to 2.1.0 let's the s3mock startup fail with
[code]

For us 2.0.11 is sufficient right now (i.e. it's not a problem for us), but I still wanted to let you know about this. If you are sure that things are working and there's evidence that it's just a classpath issue on our side you can also just close this ticket as invalid.

[2018-11-12 10:11] agudian commented on #113
As the 2.1.0 release includes a depdency upgrade to SpringBoot 2.1.0, I would also guess that it's a classpath problem. Could you check if you have other (older) Spring dependencies on the classpath?

[2018-11-15 02:53] davidvuong commented on #107
I'm experiencing a similar issue:

[code]

[code]

[code]

However, I get a different error.

[code]

When I don't specify `s3ForcePathStyle` and `signatureVersion`, I can't seem to even connect.

[code]

[2018-12-05 13:32] tuptaker opened #114 "Build error when omitting test as dependency scope"
I'm trying to use S3 mock in a spring boot application that uses TLS. I want to start it programmatically and so I've included this in my pom.xml per the readme:

[code]
But when I start the application, I'm getting a "ConnectorStartFailedException" with the message "Connector configured to listen on port 8443 failed to start."

Anyone know how I might address this? Is s3mock starting a mock serve

[2018-12-06 07:16] agudian commented on #114
Hmm, perhaps both spring apps try loading their settings from the same application.properties? You could try to pass the port configs when starting the mock programmatically.

[2018-12-06 16:37] tuptaker commented on #114
Hey @agudian , thanks for the response. I've been trying to pass the port config in through maven but I must be doing it wrong since I'm still seeing the issue. I'm passing it in like this -Ds3mock.port_https=9191, but I suppose that is not correct. Alternatively, how might I define the port for s3mock through application.yml?

[2019-01-02 22:18] andy-han opened #116 "501 response code is received when setting contentEncoding ObjectMetadata value of UTF-8"
errorResponseXml:

[code]

[2019-01-03 05:10] sdavids13 commented on #116
This can be reproduced via the following modification to the current baseline tests:
[code]

Oddly enough this modification in the integration tests doesn't throw a 501, but it doesn't actually store the content type:
[code]

[2019-01-03 21:49] andy-han commented on #116
worked for me @sdavids13

[2019-01-03 21:49] #116 closed

[2019-01-17 21:30] sdavids13 opened #117 "S3Mock returns 401 response codes when using spring-boot-starter-oauth2-resource-server"
When `org.springframework.boot:spring-boot-starter-oauth2-resource-server` is on the classpath for a server S3Mock will return `401` response codes.

[2019-01-23 11:08] scooper91 commented on #87
Is there any update on this? We're seeing the same issue when trying to delete multiple objects using the JS AWS SDK.

[2019-01-23 16:19] agudian commented on #87
We didn't find a way to handle that, yet. But tbh, we also didn't look too hard into it. I'm gonna try around a little bit tomorrow to see if anything works...

[2019-01-24 13:10] #87 closed

[2019-01-24 15:49] agudian commented on #87
Okay, we made a fix and the release `2.1.1` is on it's way to Docker hub and Maven central (had some trouble with the release automation, so it took a while).

Please check if that works for you now and reopen if necessary.

[2019-01-25 10:23] scooper91 commented on #87
Thanks for that! The deleting multiple objects now doesn't fail, but we've noticed a couple more problems which we'll make new issues for.

[2019-01-25 11:06] scooper91 opened #119 "Inconsistent file name encoding"
We've noticed some inconsistent behaviour when dealing with objects with spaces in the key.  These are all tested through the JS AWS SDK.

1. `putObject` `key: some file`. Stored on disk as `some%20file`
2. `listObjectsV2`. `some file` is retrieved as `some%20file`

When listing objects from the real S3, the key is returned as `some file`, not `some%20file`.

There are inconsistencies in the behav

[2019-01-25 11:44] scooper91 opened #120 "Able to delete a non-empty bucket"
In the real S3, trying to delete a non-empty bucket results in an error.

[code]
Actual:
[code]
Expected:
[code]

The only way you should be able to delete a non-empty bucket is passing the `--force` flag when using the CLI.

[2019-01-25 11:56] scooper91 opened #121 "PutObject creates empty file when using the JS AWS SDK"
This creates an empty file at `/root/my-bucket/some-key/fileData`:

[code]

We've tried different body types, as well as specifying `ContentType` and `ContentLength`, with the same results.

It seems related to `ContentLength` as when uploading a file using `curl`, the file is empty when a `Content-Length` header is not provided.

[2019-01-25 12:10] scooper91 commented on #87
I've made three issues for the problems we're now having: #119, #120, #121.

[2019-01-28 15:57] cykl opened #122 "S3Mock fails when HTTPS is enabled on Java 11"
Hi,

While upgrading a project to Java 11 all tests based on s3Mock started to fail with the following error:

[code]

S3Client fails to communicate with the mock server. According to s3Mock logs, server is OK and listens for both HTTP and HTTPS request. After fiddling with JDKs and miscellaneous options it seems the issue is related to TLSv1.3 support which has been added to Java 11, see [release

[2019-01-28 16:15] cykl commented on #122
Root cause could be:

[code]

[2019-01-29 14:38] mattelacchiato opened #124 "Multipart copy ignores metadata"
When copying an object as multipart, the explicitly provided metadata gets lost:
[code]

The metadata (`x-amz-meta-md5:70d404caafd043fe9b791860bef75652`) is not available on the destination object. As far as I can see in the code, there's no metadata handling at all for multipart copies.

I am setting the metadata explicitly, since the implicit metadata copy does not work for multipart copies:
[co

[2019-01-30 16:03] agudian commented on #124
That might very well be a gap in the existing implementation. Would you be up to contribute that?

[2019-01-30 16:20] agudian commented on #122
Fixed with PR #123 by @cykl -- thanks a lot!

The release is on Docker hub and should show up on Maven central in a bit.

[2019-01-30 16:20] #122 closed

[2019-01-31 18:39] psxpaul commented on #121
This appears to be a bug when using the aws cli as well:
[code]

I tried setting the content-type, content-length, and content-encoding to no avail. I also tried the docker image versions 2.1.0, 2.0.0, 1.1.0, and 1.0.0. Earlier versions throw an error about not being able to write a file, but newer versions just save a 0 byte file.

[2019-02-01 17:35] alinpa commented on #119
Hello,

I have the same issue. The s3mock doesn't work correctly for the [Characters That Might Require Special Handling ](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys) those characters are not supported.
I think the problem is in: com.adobe.testing.s3mock.FileStoreController class.
The filenameFrom method has an issue.
`private static String filenameFrom(final @P

[2019-02-04 15:54] mattelacchiato commented on #124
Sorry, this time, I don't have the capacities for that...

[2019-02-05 11:43] AshleyByeUK commented on #121
I have the same issue when uploading using boto3 (Python AWS client).

[2019-02-06 10:32] c24w opened #125 "HEAD request to pre-signed GET URL should return forbidden"
This is a bit of a niche one, but it caused a discrepancy in our tests vs reality, so still worth flagging up.

`curl -I https://s3-mock/bucket/file?X-Amz-Algorithm=xxx&X-Amz-Credential=xxx&X-Amz-Date=xxx&X-Amz-Expires=xxx&X-Amz-Security-Token=xxx&X-Amz-Signature=xxx&X-Amz-SignedHeaders=host
`

Actual: `200`
Expected: `403`

It seems this is the real behaviour because the URL is explicitly only pr

[2019-02-14 20:24] kevinulrich opened #126 "Error on HeadObject to an 'empty' Object"
The S3 API accepts PUTting empty objects as the only required parameters are bucket and object-key. AWS will gladly handle this empty file.

HeadObject
`HEAD http://s3-eu-central-1.amazonaws.com/xxx/emptyfile`
Returns a 404 because the file does not exist yet

PutObject
`PUT http://s3-eu-central-1.amazonaws.com/xxx/emptyfile`
Returns a 200, everything's ok.

HeadObject
`HEAD http://s3-eu-central-1

[2019-02-16 00:43] kevinulrich opened #128 "Self-closing CommonPrefixes on ListObjects causes unexpected behaviour in S3 SDK"
When calling ListObjects (V1 or V2) and filtering to a non-existant prefix, a self-closing CommonPrefixes tag will be returned. That in itself is not necessarily wrong, although it is not mentioned in AWS docs.

[code]

Now when consumed with the AWS PHP SDK this behaviour will cause the stream-wrapper implementation to assume that when checking for directories via `is_dir` every non-existant key

[2019-02-19 11:58] agudian commented on #119
Fixed with #129 by @alinpa 👍

[2019-02-19 11:58] #119 closed

[2019-02-19 12:17] agudian commented on #119
@alinpa release `2.1.3` is on Docker-Hub and on its way to Maven Central (give it some minutes to sync).

[2019-03-11 15:13] 412b commented on #112
@sparlampe @agudian any plans to approach and finish this one? there's also a problem with `startAfter` in case of exact key (used in `startAfter`) missing.
I can protentially come up with a PR fixing both, if nobody has time etc.

[2019-03-12 15:15] agudian commented on #112
@412b: as we didn't hear back from @sparlampe, yet, I'd say a PR by yourself would be very welcome :)

[2019-03-13 12:25] sparlampe commented on #112
I am sorry folks I had to turn to another project and have had no time so far to get back to this issue.

[2019-03-14 16:09] hennejg opened #130 "CSRF filter kicks in despite excluded SecurityAutoConfiguration"
With the JUnit4 `S3MockRule` running under  a `@SpringBootTest`, my tests started to fail with an "access denied" after the update to Spring Boot 2.1.2. After some messing around, I traced this to the `CsrfFilter` kicking in for calls to the nested `S3MockApplication` Spring-Application despite the latter having the configuration bit `@EnableAutoConfiguration(exclude = {SecurityAutoConfiguration.c

[2019-03-14 17:49] hennejg opened #131 "The content of the copy source header must be URL decoded"
As per https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectCOPY.html the content of the copy source header must be URL-decoded, but isn't. This leads to the failure to copy objects with keys using characters requiring escaping.

[2019-03-14 18:23] hennejg opened #133 "Certain characters in the key lead to breakage"
As the key is mapped to a file name in a relatively straightforward fashion, many characters can lead to non-working object access. On Windows, for example, the colon is not supported, although it is valid in a key.

There are several approaches to dealing with this problem, e.g.
* checking whether all characters are "safe" and hashing and encoding the whole key to a hex string if they aren't
* es

[2019-03-18 08:31] #131 closed

[2019-03-20 16:53] matjamesymj commented on #121
I seem to be getting the same issue when using the ruby gem sdk using the below code:

[code]

If I upload using java sdk using the following code it works:

[code]

Any ideas?

[2019-04-02 06:53] #133 closed

[2019-04-02 06:55] #130 closed

[2019-04-10 15:00] vineelya opened #139 "S3mock server spin-up with custom credentials"
I want to spin-up S3Mock with configuration of my own. Also I want to set enablePathAccess=FALSE. Does S3 Mock support hosting files in this fashion (virtual file style). In that case , I will be addressing the resources like this (http://bucket-name.hostname:port/key).
Thanks in advance.

[2019-04-22 09:53] Testolog opened #140 "[question] How to generate awsSecretAccessKey and awsAccessKeyId?"
Hi, i would like to use this mock s3server for hbase table storage. But i don't know how to generate of `awsSecretAccessKey` and `awsAccessKeyId`.

[2019-04-30 22:00] haarcuba commented on #121
I have the same issue using python's `boto3`:

[code]

[2019-05-01 21:02] BLevinger commented on #121
I was able to get to work by using signatureVersion v3
e.g.
`AWS.S3({apiVersion: '2006-03-01', signatureVersion: "v3"})`

[2019-05-07 09:08] hjloliveira opened #141 "Logback conflict with log4j"
I cannot start the server due to multiple SLF4J bindings:

`SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/C:/Users/Herson_Oliveira/.ivy2/cache/org.slf4j/slf4j-log4j12/jars/slf4j-log4j12-1.7.16.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/C:/Users/Herson_Oliveira/.ivy2/cache/ch.qos.logback/logback-classic/jars/logback-clas

[2019-05-07 18:38] raptros opened #142 "putObject doesn't support tagging"
AWS documentation specifies that putObject requests allow passing initial tagging via the x-amz-tagging header:
https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUT.html

I think the fix should be fairly simple; I'm planning to submit a PR once I can sign the CLA.

[2019-05-10 10:00] #112 closed

[2019-05-10 11:09] agudian commented on #142
Awesome, that would be much appreciated 👍

[2019-05-10 11:22] agudian commented on #141
The S3 mock server component comes with `spring-boot-starter-logging`, which pulls in `logback-classic` and `log4j-to-slf4j`. Either you don't add `slf4j-log4j12` to your test classpath, or you exclude the former two depdendencies from the `s3mock` dependency that you reference.

You can also check with `mvn depdendency:tree` to see where unwanted dependencies come from.

(closing this, as I hope

[2019-05-10 11:22] #141 closed

[2019-05-10 11:23] agudian commented on #140
Sorry for the delayed answer, but here it is: you don't need to generate anything specific, simply pass any dummy values.

[2019-05-10 11:23] #140 closed

[2019-05-10 11:26] agudian commented on #139
You can find the configuration options in class `S3MockApplication`.

Using pathStyleAccess is not supported right now, though. It would be an interesting thing to add, though. It would require running Docker containers with a specific setup to bind internal DNS names properly, and executing the tests from within a Docker container using the same Docker network.

[2019-05-10 11:29] agudian commented on #107
Let's track this as a issue to support V4 signing, and handle the pathStyleAccess=false support in a separate issue.

[2019-05-10 11:35] agudian opened #144 "Support pathStyleAccess=false / bucket subdomains"
AWS has announced to deprecate pathStyleAccess in the foreseeable future.

The S3 mock server could support that when running in Docker, with properly configured Docker network and alias settings, and then maybe checking the request for the used subdomain name.

Dynamically creating buckets won't be possible, though.

The challenge is to do that without having to duplicate the complete API control

[2019-05-10 11:37] agudian commented on #107
I've created  #144 for the bucket-subdomains support.

[2019-05-10 11:40] agudian commented on #139
I've created  #144 to track adding support for non-path style access.

If you have more specific ideas what you want to configure, please reopen this ticket and edit the description.

[2019-05-10 11:40] #139 closed

[2019-05-13 11:04] 412b opened #145 "`Content-encoding` support is missing"
`Content-Encoding` support is missing completely, that makes tests for case with e.g. gzip compressed files fail.

PR will follow shortly.

[2019-05-13 11:56] #145 closed

[2019-05-13 11:57] chrissinclairedited opened #147 "Unable to upload binary file"
Hello,

Thanks for the project - just been trying to use it to upload files but seeing something weird:

Create a file (this seems to be the easiest way to replicate the issue), naturally my actual file isn't random:
[code]

Attempt to upload the file (using python 3.7, boto3==1.9.130)
[code]

The client raises a botocore.exceptions.ClientException:
[code]

Tailing the logs for the S3 container sh

[2019-05-13 12:03] agudian commented on #145
Thanks so much! 🥇

[2019-05-15 12:55] agudian commented on #142
Fixes by your own PR. Thanks!

[2019-05-15 12:55] #142 closed

[2019-06-19 16:27] davidsbond commented on #121
Having the same issue using the golang client

[2019-06-20 09:23] nealstewart commented on #121
@davidsbond I was running into the same issue with boto3.

As @haarcuba  mentioned, this can be resolved by setting the signature version like so:

[code]

This only needs to be done for the resource/client that is doing the uploading. Once uploaded properly, the files seem accessible through other operations (list_objects, get... etc)

[2019-06-20 14:53] davidsbond commented on #121
Thanks @nealstewart, I'm unable to find a way of setting the signature version using the [aws golang client](https://github.com/aws/aws-sdk-go). I can't seem to find an option for it in the configuration, although it could be named something else. For now I was able to directly mock the S3 bucket locally using another library.

[2019-06-21 17:05] resilva87 commented on #147
Hi,

I got the exact same error while trying to upload a binary (JPEG image) file. Any thoughts or update about this issue?

[2019-06-21 17:17] resilva87 opened #156 "[Question] - Why checking if bucket exists?"
Hi,

While investigating some issues with S3Mock I've noticed that the `putObject` method in `FileStoreController` first checks if the bucket exists (https://github.com/adobe/S3Mock/blob/master/server/src/main/java/com/adobe/testing/s3mock/FileStoreController.java#L488) before handling the operation.

But the method `putS3Object` in `FileStore` component, which is called afterwards, can handle any

[2019-06-24 09:02] chrissinclairedited commented on #147
Hey @resilva87 - not sure if it'll work for you but I gave up in the end and have been using https://hub.docker.com/r/andrewgaul/s3proxy/ successfully since.

[2019-06-25 17:41] jchou886 opened #157 "[Bug] PutObjectLegalHold and PutObjectRetention changes underlying S3 file"
Calling PutObjectLegalHold and PutObjectRetention changes underlying S3 file for dockerized s3 mock.

Steps to reproduce:
1. Put any object in S3.
2. Call PutObjectRetention or PutObjectLegalHold on the object.
3. The contents of the object changes to the xml of the object retention request or legal hold request.

[2019-06-25 17:43] agudian commented on #157
I‘m very sure we haven’t implemented that, yet, and the requests are being treated as normal PUT requests...

Would you be open for contributing that feature?

[2019-07-02 17:18] mhp0rtal opened #158 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => server/src/main/java/com/adobe/testing/s3mock/domain/FileStore.java: Line number => 764: API name => MessageDigest:First parameter (with value "MD5") should be any of {SHA-256, SHA-384, SHA-512}<BR> File name => server/src/main/java/com/adobe/testing/s3mock/util/HashUtil.java: Line number => 70: API name => MessageDigest:Unex

[2019-07-02 17:24] agudian commented on #158
As intended.

[2019-07-02 17:24] #158 closed

[2019-07-11 15:02] Xivolkar commented on #156
@resilva87 Best guess - to simulate missing bucket on S3?

[2019-07-11 15:43] agudian commented on #156
Sorry for the long delay, it fell off my radar:

The current behavior is as intended, as the real S3 doesn't create missing buckets on the fly, either. The `getBucketOrCreateNewOne` method is most certainly a left-over from when we didn't have the check, yet.

I'm closing this, but if you'd like to continue the discussion, feel free to reopen.

[2019-07-11 15:43] #156 closed

[2019-07-26 15:40] haffo commented on #107
Any update on signature v4 support ?

[2019-07-29 08:48] agudian commented on #107
The funny part is, that we’re using V4 signature by default already for a long long time, as I saw recently in the code.

No one has looked into the actual problem at hand, though. A reproducible failing test case (in Java) would help a lot.

[2019-08-13 07:15] agudian commented on #107
This was in fact a bug, the same as described in #121.

[2019-08-13 07:15] #107 closed

[2019-08-13 07:20] agudian commented on #121
I needed some help with getting a reproducer to work and debug, and after that it turned out that boto3 and the golang client (apparently) used a combination of v4 signing and non-chunked transfer that resulted in the problem.

The S3Mock didn't expect v4 signing without chunking 🤷‍♂.

The fix is on its way...

[2019-08-13 07:22] agudian commented on #147
After investigating with a small reproducer, we finally figured out what boto3 did differently compared to how we used the S3 Java SDK in our tests.
It's the same issue as reported in #121, so I'll close this here. The fix is already on the way, though.

[2019-08-13 07:22] #147 closed

[2019-08-13 07:30] #121 closed

[2019-08-16 12:59] dmitriychernov7 opened #165 "Trailing slash in object key"
There is no difference between object with key "some/path" and "some/path/"
if I create empty object with trailing slash "some/path/" then I can get head response for both keys "some/path" and "some/path/". But there should be NoSuchKeyException exception in case of head request with "some/path" key. And vise a versa

example in java
create bucket with name "bucket3"

[code]

[2019-08-30 20:24] mdotson opened #166 "listObjectsInsideBucket (v1) does not paginate"
As the title says, you can put 2 files to your bucket, set your max-keys to 1, and you'll only get 1 result, rather than two files and `truncated` is never set to true, so it does not continue.

[2019-09-16 08:16] agudian commented on #120
Fixed by @ChaithanyaGK

[2019-09-16 08:16] #120 closed

[2019-09-16 08:16] agudian commented on #124
Fixed by @ChaithanyaGK

[2019-09-16 08:16] #124 closed

[2019-09-16 08:17] agudian commented on #166
Fixed by @ChaithanyaGK.

[2019-09-16 08:17] #166 closed

[2019-09-16 08:34] ChaithanyaGK commented on #124
Copying of metadata during Multipart copy is not yet supported in S3. Once it is supported, we can make changes in S3Mock for that accordingly.

1. https://github.com/aws/aws-sdk-java/issues/367
2. https://github.com/aws/aws-cli/issues/1145

cc: @mattelacchiato

[2019-09-16 15:34] sparkmuse opened #170 "Error when testing a spring boot application"
I am getting the following error when trying to test with my springboot application.

[code]

Maybe I forgot something. Here are my configurations.

[code]

Here is the service implementation:

[code]

And my maven:
[code]

[2019-10-03 14:10] theodiefenthal opened #175 "Avoid using Spring AutoConfiguration"
I want to use the S3Mock JUnit4 rule which starts the s3 mock server in background.
Sadly, my project depends on a library which in turn is still using GSON 2.2.2.

Due to springs classpath scanning in combination with EnableAutoConfiguration, the s3 mock server detects GSON in the classpath and tries to call some methods on it, not yet existant in the old GSON version. The following error appears

[2019-10-03 14:46] theodiefenthal opened #176 "Exception not properly propagated (Object not found)"
I use S3mock via the JUnit 4 rule like so:

[code]

The test _fails_. I can follow in the code that correctly, a 404 NOT Found Exception is thrown and that in mock client code, the `NoSuchKey` code is set within the exception along with a proper message.
However, the code seems to be lost before sent back to the client. The client fails with:
[code]

It wasn't able to properly unwrap the code and

[2019-10-07 10:02] #126 closed

[2019-10-11 08:46] 412b opened #181 "Listing bucket with a prefix can give wrong results"
Listing a bucket with e.g. "3330/0", "33309/0" and prefix "3330/" will return both keys.
Root cause is the changes introduced in commit 75a5e674eba2bddbf4929454ed4c19a7ddfdd6df
I will submit a PR with a fix

[2019-10-17 05:50] xfornesa commented on #175
Probably we should split the project in two parts: S3Mock (no framework references) and S3mock-springboot-autoconfiguration (with framework references).
There are several projects that does that, e.g: https://github.com/PebbleTemplates/pebble . In this example they are using the same repo and split the code as modules.

[2019-10-24 12:36] LeoColman opened #189 "Add support to files encrypted with KMS Server Side encryption for V2"
S3 supports putting objects with KMS serverside encryption. I believe this is unsupported by S3Mock due to the following:

Given a file sender
[code]

The following piece of code fails:
[code]

With the stacktrace:
[code]

This is due to a checksum validation based on some headers that S3Mock doesn't return when using the encrypted endpoint, apparently.

[2019-10-25 11:52] an-tex commented on #35
I've just ran into the same issue. The problem is that the S3Mock Server (not the client) returns a `Content-Type: application/x-www-form-urlencoded` in the response of the `initiateMultipartUpload` endpoint (https://github.com/adobe/S3Mock/blob/master/server/src/main/java/com/adobe/testing/s3mock/FileStoreController.java#L969). The actual AWS endpoint returns a `application/octet-stream` (just ch

[2019-11-06 02:01] alidavid0418 commented on #121
@BLevinger saved my day! Thanks.

[2019-11-11 11:30] MatthewMiele opened #190 "S3Mock fails when Server Side Encryption is set without a key"
Currently if you try to use the mock with server side encryption (`aws:kms`) without specifying a key the mock fails. This is seems to be due to the header not being set when a key is not specified `"x-amz-server-side-encryption-aws-kms-key-id"`

Example test command
[code]
Error
[code]
The S3 docs state a key is optional. If no key is provided Amazon S3 assumes the AWS managed CMK.

https://docs.

[2019-11-12 08:21] aheritier commented on #175
It might be great. I have a similar issue with my tests failing as soon as I had s3mock in my classpath. S3MockApplication is trying to start with my project classpath and fails (a strange issue with liquibase)

[2019-11-14 14:30] DanieleSassoli commented on #35
hey @an-tex, very good analysis, helped me understanding the issue a lot better.
Where you planning on raising a PR for this? I had the same issue and worked around it by using https://github.com/findify/s3mock but it seems like overall the project is not as well maintained as this one.

[2019-11-14 14:35] an-tex commented on #35
I hoped for a feedback by the maintainers first if there's a reason for defining explicitly that content type. But seems that's not gonna happen ;) In the meantime I'm using https://github.com/gaul/s3proxy but would also rather switch back to this.

[2019-11-14 19:39] agudian commented on #35
@an-tex thanks for looking into it and finding the discrepancy. I think using the same content type as AWS does is the way to go.

A PR would be very welcome! 👍

[2019-11-14 19:42] agudian commented on #190
Nicely spotted! Would be up to create a PR to fix this?

[2019-11-14 19:48] agudian commented on #189
Hmm, weird. We do support using KMS keys when uploading and there are tests for that using the AWS S3 Java SDK in this repo.

Can you check if you can create a breaking test case in this repository?

[2019-11-14 23:17] Kerooker commented on #189
I think the issue is by using the new version.
I'll create a breaking case.

[2019-11-15 11:11] #181 closed

[2019-11-15 14:17] an-tex commented on #35
Thanks for the reply @agudian ! I'll make a PR next week. Cheers

[2019-11-20 02:24] yuu-suzuki opened #191 "I got org.springframework.beans.factory.UnsatisfiedDependencyException at starting S3Mock"
Hi, I'm Yuu Suzuki.

When I started S3Mock on our project after depended s3mock-junit4, I got UnsatisfiedDependencyException.
So, I couldn't start s3mock.

I depended s3mock-junit4 in our maven project as follow.
[code]

I wrote S3Mock at @ClassRule as follow.
[code]

And, I executed our test class from Eclipse, I got some error log message as follow.
I hide my pc username and our project path.
[c

[2019-11-20 17:02] agudian commented on #191
I guess it’s a version mismatch between the Jackson version on your classpath and the one defined in the s3mock pom (or to be more precise: in the spring-boot parent pom that we use).
If you’re on Maven, you could do a `mvn dependency:tree` to check how that might have happened.

[2019-11-22 10:51] PaulGregory50 opened #192 "listMultipartUploads with setPrefix"
I have an s3mock bucket with stale multipart uploads.

When I listMultipartUploads with a prefix the prefix is ignored. I see all keys.

Snippet of Java code:

ListMultipartUploadsRequest allMultipartUploadsRequest = new ListMultipartUploadsRequest("myBucket")  ;
		allMultipartUploadsRequest.setPrefix("myPrefix") ;
        MultipartUploadListing multipartUploadListing = client.listMultipartUploads

[2019-11-23 08:10] timoe commented on #192
fixed by https://github.com/adobe/S3Mock/pull/193

[2019-11-23 08:10] #192 closed

[2019-11-23 10:46] timoe commented on #190
right but doesn't that mean, that, if you pass the header, you have to pass a key-ref as well. The other way round, if you pass only the header but not a key-ref, this is an invalid request?

So, I would assume S3 Mock has to return 400 BAD_REQUEST here.

[2019-11-23 11:26] timoe commented on #190
Well, I was wrong. Doc says

so, not passing a key-ref should go through

[2019-11-23 12:29] agudian commented on #190
Timo fixed it with #194 👍

[2019-11-23 12:29] #190 closed

[2019-11-23 16:31] timoe commented on #175
Well, the issue here is that, as of now, running the HTTP server is tightly coupled to Spring Boot.

There are lots of issues with these auto-configs which are caused by the fact that we use spring boot. Maybe it's a better idea to go for something else than Spring...

[2019-11-23 18:50] agudian commented on #175
How about using Quarkus... we‘d have a super fast and small Docker container, and a CDI / MicroProfile based codebase for the same-JVM mode... I wonder how that would turn out...

[2019-11-25 08:31] timoe commented on #175
yepp ;)

[2019-11-25 22:45] krunalvora opened #196 "NullPointerException running the junit5 extension test for SDK V2 in Scala"
I am trying to run the S3Mock Junit5 extension test for SDK V2 in Scala.

[code]

I am not sure whether I need to start the S3Mock server programmatically beforehand even when trying the JUnit5 method.

I get a NullPointerException at S3MockStarter.getHttpPort with a null value for S3MockStarter.

Could someone help me with this?

Also, is there support for AsyncRequestBody for a putObject with SD

[2019-11-26 06:42] yuu-suzuki commented on #191
@agudian

Thank you for your help.

I want to try your solution, but I'm busy recently by my work.

I'll try your solution within 2 month.

[2019-11-26 07:03] timoe commented on #176
fixed by https://github.com/adobe/S3Mock/pull/195

[2019-11-26 07:03] #176 closed

[2019-11-26 11:09] DanieleSassoli commented on #35
hey @an-tex, did you find any time to raise a PR for this? Might look into doing this myself if it's of any help...

[2019-11-26 11:56] an-tex commented on #35
Hi @DanieleSassoli . I've made the changes locally just yesterday but some tests started failing. I'll look into it later, if it's something I could need assistance with I'll open a PR with the failing tests so we can continue together? Cheers

[2019-11-26 16:01] an-tex commented on #35
alright the issue is when annotating an endpoint with:
[code]

the integration tests fail as the S3Mock returns a "400 - Bad Request" for most of the calls. This is the spring framework itself rejecting the request. I'm not sure why. Maybe it just doesn't know how to serialize the response? When I put `application/xml` it all works. So this might still be a better solution than the previous `appli

[2019-11-27 00:05] tinder-krunalvora commented on #196
@agudian @timoe Any ideas on what I might be doing wrong here? Appreciate the suggestions!

[2019-11-27 00:07] krunalvora commented on #196
@agudian @timoe Any ideas on what I might be doing wrong here? Appreciate the suggestions!

[2019-11-27 04:25] ChaithanyaGK commented on #196
@krunalvora No need to start S3Mock server beforehand when trying the Junit5 method.
I'm not familiar with scala. Could you please share your scala project, let me see whether I can help.

[2019-11-27 05:20] krunalvora commented on #196
Thanks @ChaithanyaGK
I will share the scala project.

In the meantime, if I am using the programmatically running the server method, can I create AWS S3 clients using the AWS SDK and expect it to work with the S3Mock endpoint or I need to use the S3Mock library to create the S3 client?
And is there support for AsyncS3Client?

[2019-11-28 08:01] timoe commented on #196
thanks for reporting this @krunalvora.

Regarding

It is not. But: Contributions are always welcome ;) Would you like to file a PR for that?

[2019-11-28 10:38] MatthewMiele commented on #190
Thanks for the fix @timoe ! Would it be possible to make a release? (specially a new docker image on docker hub). Thanks again

[2019-11-28 13:56] ChaithanyaGK commented on #196
Hi @krunalvora

Yes, the only catch is you need to override endpoint to point to the S3Mock endpoint.
Please refer https://github.com/adobe/S3Mock/blob/6a230311a29567cc1148009036bcf84dc0ef2ecd/server/src/test/java/com/adobe/testing/s3mock/its/S3TestBase.java#L107

I believe no additional changes are required in S3Mock to support async flows, they should work out of the box with SDK V2. Below test

[2019-11-28 15:15] timoe commented on #190
I'll do a release tomorrow, Friday is a good day for releases ;)

[2019-11-29 11:28] kolyanu4 opened #199 "Keys are encoded in the response"
Hi, I'm using your image for tests. After 2.1.17 I found the issue that bucket is not deleted anymore. That happens cause in 2.1.16 it was deleted ignoring if there were files or not.

After some checks I found that files are not deleted cause keys are encoded in the response and when you call `delete` the keys cannot be found.

Current behavior:
[code]

Expected behavior:
[code]

[2019-11-29 13:57] timoe commented on #199
Thanks for reporting this. Seems to be a bug.

[2019-11-29 14:37] timoe commented on #199
could not reproduce that with tests e.g. from `AmazonClientUploadIT`. I'll try to get your python example running

[2019-12-02 09:45] krunalvora commented on #196
Thanks @ChaithanyaGK for this explanation.

I tried this code snippet:

[code]

Fails with an exception:
`Exception in thread "main" software.amazon.awssdk.core.exception.SdkClientException: Unable to execute HTTP request: Unrecognized SSL message, plaintext connection?`

Am I starting the S3Mock server incorrectly?

[2019-12-02 10:08] ChaithanyaGK commented on #196
It should be `http` end-point not `https` as you've started the application with http port

`endpointOverride(URI.create("http://localhost:9192"))`

[2019-12-02 14:36] ChaithanyaGK commented on #189
@Kerooker There is a bug in AWS Java SDK V2 which is causing this issue. I've opened a PR https://github.com/aws/aws-sdk-java-v2/pull/1535 on SDK V2 to fix it.

[2019-12-02 15:05] Kerooker commented on #189
I see. Thanks, @ChaithanyaGK

[2019-12-06 07:20] sdavids13 commented on #117
Just a heads up to anyone, I got around this by not using `S3MockExtension` but instead I created by own Extension that uses the adobe/s3mock docker container in conjunction with using the [TestContainers library](https://www.testcontainers.org/features/creating_container/).

Though, I am currently fighting with trying to get TLS/SSL to work in some particular cases:
  * I use FFMpeg and it blows

[2019-12-10 08:13] nwesthoff opened #200 "Persistent data/storage and mount volume"
S3Mock creates a new `s3mockFileStore<number>` folder each time the container starts. When using the container for local development this means all data is lost when I restart/recreate the container, or even restart Docker engine (on Mac OS).

I haven't seen anything in the README, but would it be possible to mount a volume and reuse a store if it exists?

current docker-compose for good measure:

[2019-12-10 13:59] Alain-Bearez commented on #200
Do you mean something like the following?

[code]

And then having a folder hierarchy under ` ./data/s3/default/` ?

[2019-12-10 14:36] nwesthoff commented on #200
Didn't think about setting the root folder, but I think that works 👍

[2019-12-11 13:13] afrische commented on #64
a first step for this could be for ListObjectVersionsRequests to return the same as ListObjectsRequest with a null version

[2019-12-18 13:12] #200 closed

[2019-12-22 09:32] mosesliao opened #201 "Using S3Mock for PHP related projects"
Hi. How do I integrate this library into a Drupal project which I am currently working on?

[2020-01-03 02:15] yonilerner opened #202 "NodeJS AWS SDK The specified bucket does not exist (also weird `aws s3 ls` behavior)"
Server is running via docker like:
[code]
(Version running is `2.1.18`, which is latest as of this writing)

Im able to:
- Upload a Dockerfile
- Confirm I can download it again
- Confirm I can see the item listed with `list-objects-v2`
[code]

Heres where the bugs start:
- `aws --endpoint-url http://localhost:9090 s3 ls bucket-1` isnt showing anything other than:
![image](https://user-images.githu

[2020-01-03 07:34] timoe commented on #202
thx for reporting, looks like a Bug.

[2020-01-03 09:31] DanieleSassoli commented on #35
I believe this should be closed following #198 ?

[2020-01-03 13:17] timoe commented on #35
yepp, you're right.

[2020-01-03 13:17] #35 closed

[2020-01-03 20:22] Rayzr522 commented on #202
Confirmed using the above steps, when running `aws --debug --endpoint-url http://localhost:9090 s3 ls bucket-1` I got the following exception:

[code]

Full log attache here:
[aws-debug.log](https://github.com/adobe/S3Mock/files/4020774/aws-debug.log)

[2020-01-03 20:41] yonilerner commented on #202
It appears that when you pass `{Bucket: 'bucket-1'}` into JS SDK, rather than giving you `localhost:9090/bucket-1`, it gives you `bucket-1.localhost:9090`. The server doesnt appear to support this syntax. Navigating to `/bucket-1` lists the bucket, but navigating to `bucket-1.localhost:9090/` does not

[2020-01-04 07:27] yonilerner commented on #202
After more digging, it seems like I may be able to force the desired behavior with `s3ForcePathStyle: true` in the S3 SDK config

[2020-01-13 10:23] willemv opened #203 "FileStore formats the modification time using the wrong timezone"
`FileStore` uses a `SimpleDateFormatter` with the fixed `"yyyy-MM-dd'T'HH:mm:ss'.000Z'"` date pattern. This pattern hardcodes the UTC timezone, but this timezone is not set on the formatter itself.

What's more, `FileStore` uses a single static `SimpleDateFormatter`, but that class is not thread-safe.  `java.time.format.DateTimeFormatter` is a thread-safe alternative.

[2020-01-13 14:33] AnushaErrabelli opened #205 "Using S3Mock with dot net 3.1 project gives an error as Name or Service not know"
Advance thank you for helping!

my docker-compose is

s3mock:
    image: adobe/s3mock
    ports:
      - "9090:9090"
    environment:
     - initialBuckets=fin-disc-dev-files
     - AWS_ACCESS_KEY_ID=foobar
     - AWS_SECRET_ACCESS_KEY=foobar

Please let me know do I need add any environment variables extra?

[2020-01-13 16:46] agudian commented on #205
Without knowing more about the error message, it sounds like you have to configure your client to use pathStyleAccess (as by default, it would try to call `http://<bucket-name>.localhost:9090`, which can’t be resolved to an ip-address (and which is not in control of the started Docker container).

If that’s not helpful, please let us know a bit more about what call you’re trying to make and how yo

[2020-01-13 19:07] AnushaErrabelli commented on #205
@agudian thank you for immediate response.  I have configured my client to use my app settings file parameters and in it giving the parameters and data like below
"AWS": {
      "ServiceURL": "http://s3mock.localhost:9090",
      "ForcePathStyle":true
    },

I feel  docker is  not establishing the connection with S3. Please let me know if you need any other information

///(url
<img width="779" a

[2020-01-13 19:21] agudian commented on #205
The endpoint (ServiceURL) needs to be configured as `http://localhost:9090` in your case.

[2020-01-13 19:35] AnushaErrabelli commented on #205
@agudian thank you again!! I tried it already using this endpoint, it's not working

[2020-01-13 19:45] agudian commented on #205
Then it’s probably something with the Docker setup (verify that you can reach the S3 mock endpoint from where you start your application, eg. through a command-line or using a browser going to http://localhost:9090/favicon.ico ), or something with the config of the AWS .net library..?

If you see the S3mock starting, you should be all good there. No special config is required for it (you can also

[2020-01-13 20:09] AnushaErrabelli commented on #205
@agudian, I can connect to the s3 end point from docker container. I tested it with aws cli from docker container, it's working with http://s3mock:9090.  AWS.net library refuses connection at some point, also it's not working with https://s3mock:9191 (default https://localhost:9191 also not working).

[2020-01-24 12:12] ivaleev opened #207 "AmazonS3: No valid region has been specified. Unable to return region name"
Getting an exception:
`java.lang.IllegalStateException: No valid region has been specified. Unable to return region name
at com.amazonaws.services.s3.AmazonS3Client.getRegionName(AmazonS3Client.java:4613)
`

added one line to provided test S3MockRuleTest:
https://github.com/adobe/S3Mock/blob/master/testsupport/junit4/src/test/java/com/adobe/testing/s3mock/junit4/S3MockRuleTest.java

`    @Test

[2020-01-24 15:16] gh2k opened #208 "S3mock ignores `Content-MD5` header"
The [docs for putObject](https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutObject.html#API_PutObject_RequestSyntax) describe the `Content-MD5` header which should verify the uploaded data, and return an error if the supplied base64-encoded md5 hash does not match that of the received data.

It looks like this parameter is ignored. I can pass anything here and the upload still works.

It would

[2020-01-25 07:18] timoe commented on #208
Thanks for reporting. Would you like to file a PR for that, contributions are always welcome.

[2020-01-25 07:44] timoe commented on #207
That's not a bug I guess.
`com.amazonaws.services.s3.AmazonS3Client#getRegionName` tries to match the endpoint (localhost in our case) against `"s3[-.]([^.]+)\\.amazonaws\\.com(\\.[^.]*)?"`.

Obviously this won't match so
[code]

will throw an IllegalArgumentException. Same applies to `getRegion`.

What do you think?

[2020-01-25 21:16] ivaleev commented on #207
Yes, I see.
Unfortunately, I had to change the production code to make my tests pass. The region was taken from s3client in the production code.
I had to pass the region to the class constructor.

[2020-01-30 23:18] castioussupreme opened #209 "LoggerFactory is not a Logback LoggerContext but Logback is on the classpath"
Can't use any of it due to logger mismatch.  Similar to:
https://github.com/adobe/S3Mock/issues/141
But the explanation is not clear in "exclude the former two depdendencies from the s3mock dependency that you reference." If I remove the dependencies from the build would it not fail to build?

Import for my log solution:

java_library(
    name = "slf4j_api",
    visibility = ["//visibility:public

[2020-02-05 14:38] peter-ponzel commented on #64
any news on this?

[2020-02-05 16:18] StefansM opened #210 "Another Content-Type issue with Alpakka"
Hi, I'm trying to do exactly the same as @sfali in #35. The problem in #35 was addressed in #198 (release 2.1.18), but I'm still seeing a very similar error from Alpakka:

[code]

After a bit of investigation, I discovered that the `completeMultipartUpload` [method](https://github.com/adobe/S3Mock/blob/master/server/src/main/java/com/adobe/testing/s3mock/FileStoreController.java#L1261) is still re

[2020-02-10 18:21] lgoldstein opened #213 "S3Mock overwrites file data with ACL XML on 'putObject'"
First of all - great code - helps a lot with debugging S3 code locally.

While trying to use [S3Browser](https://s3browser.com/) with the mock as a server I encountered a problem with uploading files (which translates to calling the `FileStoreController#putObject` endpoint). After some debugging I found out the following:

The application invokes `putObject` **twice** - once with file contents and

[2020-02-10 19:15] agudian commented on #213
Thanks for the thorough report!

I think adding a method that has a query parameter „acl“ defined should do the trick to route that call to that other method.

Would you like to try adding that in a PR?

[2020-02-11 18:50] lgoldstein commented on #213
I  would love to, but I am swamped - I barely had enough time to diagnose this problem. Furthermore, I am not sure how the new method that handles it should behave:

* Should it store the data ?
* If so - where ? how ? when will it be read ? (I did not check if S3Browser asks for it...)

[2020-02-14 08:57] agudian commented on #210
@ChaithanyaGK provided a fix, which has been released with version `2.1.19` . @StefansM could you please verify if that fixes this issue?

[2020-02-14 17:28] pwinckles opened #215 "ListBucketResultV2 models CommonPrefixes incorrectly"
`ListBucketResultV2` models common prefixes as follows:

[code]

While this makes sense, AWS models them like this:

[code]

[See this example](https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListObjectsV2.html#API_ListObjectsV2_Example_8).

[2020-02-18 11:20] StefansM commented on #210
Yes, that's fixed the issue! Thanks @ChaithanyaGK and @agudian :)

[2020-02-18 11:20] #210 closed

[2020-02-18 17:23] alvaro-nogueira opened #216 "Exclude DataSourceAutoConfiguration.class in S3MockApplication"
In my application I have to manually config the DataSources, so when I call S3MockApplication.start() in my tests it tries to autoconfigure the datasources and that gives me an error.

Is possible to exclude DataSourceAutoConfiguration.class in S3MockApplication?

[2020-02-18 18:35] agudian commented on #216
Yes, sure. Would you open a PR for that, then you can directly test it against your app?

[2020-02-28 13:14] ghost opened #217 "NPE inside FileStore.listAndSortPartsInFromDirectory"
How to reproduce:
- Begin a multipart upload
- Upload some parts
- Complete (or cancel) the upload
- Perform a part listing

Expected Result:
- Same behavior as AWS

Actual Result:
- NullPointerException inside com.adobe.testing.s3mock.domain.FileStore.listAndSortPartsInFromDirectory

Call stack:
[code]

partNames is null because the operation was canceled or completed, so the file store can't fin

[2020-03-02 09:30] ChaithanyaGK commented on #217
@alexwilbur Thanks for reporting. Could you please let us know what is the AWS behavior in this scenario.

[2020-03-27 23:37] chaen opened #219 "Cannot get generate_presigned_post to work"
Hi,

I am running S3Mock in a container. I try uploading a file there using pre-signed URL with `boto3`. In order to do so, I literally copy paste from the official tutorial:
https://boto3.amazonaws.com/v1/documentation/api/latest/guide/s3-presigned-urls.html#generating-a-presigned-url-to-upload-a-file

However, this ends up in a http return code `400`
The server does not spit any error nor any me

[2020-03-30 04:35] lvhero commented on #95
ClientConfiguration clientConfiguration = new ClientConfiguration();
 clientConfiguration.setSignerOverride("AWSS3V4SignerType");
 clientConfiguration.setProtocol(Protocol.HTTP);

[2020-04-02 12:22] davidcuevastransfer commented on #205
@AnushaErrabelli Did you manage to sort this? I reckon i'm having the same problem with the S3Mock docker container.

I'm using S3Mock for an SpringBoot Integration test and i am getting a

Would be nice to have some light shed on this

[2020-04-23 20:33] AnushaErrabelli commented on #205
@davidcuevastransfer Sorry, I did not see the notification. I'm able to solve the issue by providing fake aws credentials  during api spin up, before I was providing from S3mock env.

If you provide aws credentials from docker-compose spring boot service it might work! if not please let me know, thanks you!

[2020-04-30 13:22] giacomomagini opened #220 "Missing documentation for mocks' file system structure"
Hello!
I had to look into the code to understand what's the filesystem structure for adding object mocks. It'd be nice to have it documented.

Cheers,

Giacomo

[2020-05-05 11:39] vicmosin commented on #175
So is there any workaround for issue?

[2020-05-28 18:58] jarreds opened #221 "Multipart upload part number validation doesn't match S3 proper"
Received the following error from S3 proper:

[code]

Whereas S3Mock accepts zero as the first part number.

[2020-06-02 13:52] ISDemidoff opened #223 "MultipartUpload: method CompleteMultipartUpload doesn't take into account sent PartETags"
I'm using 2.1.19 (currently latest) version of S3Mock.

When using multipart upload testing I came to a point that this mock implementation doesn't behave same as real Amazon S3 storage:

For example of such behavior, firstly you need to correctly upload three parts (lets name them 1,2,3) after InitUpload.
Then, when calling CompleteMultipartUpload passing only two of them (for example, 1 and 3),

[2020-06-06 14:48] ChaithanyaGK commented on #221
Fixed in v2.1.20 (by #222 )

[2020-06-06 14:48] #221 closed

[2020-06-06 14:57] ChaithanyaGK commented on #223
@ISDemidoff Thanks for reporting. I'm on it. I just need to verify few things before raising a PR. Could you please share etag's returned from S3 for uploaded parts and for complete upload. (i.e., `partETag1`, `partETag2`, `partETag3` and `CompleteMultipartUploadResult.eTag`)

[2020-06-09 03:04] ISDemidoff commented on #223
@ChaithanyaGK ok, here we go.
I just ran my provided code and got:

uploadId: "9b233d93-87e6-4bfb-bd56-f762ec3100c3"
eTag1: "5973ae733b102b22143dafe3996814ba"
eTag2: "123a2d6c816f1a941f261d02747cdde6"
eTag3: "46f9536e629e5cf77d46358b1aa9b2f7"
completeMultipartUploadResult.getETag: "c250c98b36641df01850f0534afd3d25-3"

Every time I run that snippet, I get different results, but "-3" remains, which

[2020-06-26 21:19] mibollma commented on #223
Seems to introduce some new issue. Since **2.1.21** i'm getting

when using **aws s2 sync**. **2.1.20** works fine for me.

[2020-06-27 04:11] ChaithanyaGK commented on #223
@mibollma With v2.1.21 we are validating the CompleteMultipartUpload request to be inline with AWS S3 behavior
1. Parts mentioned in the request are previously uploaded
2. If yes, then validating the e-tag of the parts mentioned.

Let me know if you're specifying the proper Multipart parts in the request payload and still facing this issue.

Ref: https://docs.aws.amazon.com/AmazonS3/latest/API/API

[2020-06-27 11:59] mibollma commented on #223
@ChaithanyaGK I'm not doing anything manual. Just calling **aws s3 sync** on the commandline using aws cli to synchronize a local folder to s3mock, basically populating a bucket with some files that are used during testing. Behaviour is the same with aws cli v1 and v2.

The exact command is
`aws s3 sync <local-folder> s3://<bucket>/<name> --endpoint-url http://localhost:9090`

[2020-06-27 14:34] ChaithanyaGK commented on #223
aws-cli is sending e-tag wrapped in quotes, but in our implementation e-tag's are not wrapped which is resulting in this issue. As a workaround I've stripped quotes from e-tag before validation and released v2.1.22

@mibollma @ISDemidoff @mserranom Could you please confirm that your issues are fixed with v2.1.22

[2020-06-27 15:19] mibollma commented on #223
@ChaithanyaGK Version **v2.1.22** works as expected again. Thanks alot :thumbsup:

[2020-06-30 08:10] AplusKminus opened #227 "Bug: AmazonS3.listObjects(ListObjectsRequest) result does not include exact match of prefix"
**Assume the following file structure:**
bkt\\
bkt\foo\bar\\
bkt\foo\bar\baz\\
bkt\foo\bar.txt

Now execute the following code, given `amazonS3`:
[code]
## Expected Behavior
Executing this against S3 results in:
[code]
## Observed Behavior
Executing this against S3Mock results in:
[code]
### Version Details
s3Mock version used: 2.1.20 (edit: also tested with 2.1.22)
AWS S3 SDK version: 1.11.579 (t

[2020-06-30 10:18] mserranom commented on #223
@ChaithanyaGK the new version looks good thanks!

[2020-06-30 12:50] ChaithanyaGK commented on #223
Thanks @mibollma & @mserranom for confirming.
Closing this issue as it is fixed in v2.1.22

[2020-06-30 12:50] #223 closed

[2020-07-21 13:15] vlsi opened #228 "Please include "Subject Alternative Name=localhost" to s3mock.jks certificate"
The mock users should be able to access mock server with a regular TLS connection and proper hostname verification.

If I pull `s3mock.jks` and use it as a truststore, then I get the following error:

[code]

Note: I can't use `s3mock`-provided S3 client. I want the application under test to run as usual, and the only change I do is I configure `endpoint` to be `localhost:port` and configure `enab

[2020-07-21 13:15] vlsi commented on #228
This is related to https://github.com/adobe/S3Mock/pull/123

[2020-07-21 13:39] vlsi opened #229 "Provide a way to reset S3 state before each test"
Use case: I want to run a parameterized test via JUnit5, so a single method runs multiple times.
Unfortunately, s3mock state is not reset across executions, so subsequent tests observe leftovers from the previous tests.

It would be nice to have something like `com.adobe.testing.s3mock.testsupport.common.S3MockStarter.BaseBuilder#withResetBeforeEachTest`

WDYT?

[2020-07-21 14:18] vlsi opened #230 "Provide a way to override server.ssl properties programmatically"
I want to start a mock with a certificate from my own keystore.

It looks like there is a couple of issues with that:

1. `S3MockExtension.Builder` does not allow free-form properties to be passed. It would be nice to have `withProperty(name, value)` method there.

2. `server.ssl` properties are declared in `application.properties`, so the values there win even if the property is passed via `Sprin

[2020-07-21 18:10] agudian commented on #230
Great idea! Feel free to create a PR and we‘ll look at at as soon as possible 🙂👍

[2020-07-21 20:48] vlsi commented on #228
https://nip.io/ might help here as well.

127-0-0-1.nip.io resolves to 127.0.0.1, and us-west-1.127-0-0-1.nip.io resolves to 127.0.0.1 as well.

That would enable users to skip `enablePathStyleAccess` and connect to s3mock via regular `us-west-1.<endpoint>`.

Then, the flow could be as follows:

1) S3Mock could include a root certificate like it has currently. The clients might add the certificate

[2020-07-22 06:45] vlsi commented on #228
It turns out pure Java does not have API to sign certificates, so BouncyCastle should be used to do that.
The signing is not that complicated: https://stackoverflow.com/a/7366757/1261287

Do you think it is ok to add BouncyCastle as a runtime dependency?

[2020-07-22 07:37] ignaciopeixoto commented on #64
+1

[2020-07-22 07:38] nachinius commented on #64
+1

[2020-07-22 08:51] vlsi opened #232 "Expose S3MockStarter#getServiceEndpoint() (make method public)"
Currently, clients have to guess `"localhost" + port` for the endpoint if they want to create their own S3 client rather than take the one from S3MockStarter

[2020-07-22 11:28] vlsi commented on #229
It would be great if multiple tests that run concurrently could operate on their own isolated state.

For instance, what if there was a special connection `header` that specifies "virtual session id", so different clients could be isolated.

[2020-07-22 14:17] vlsi opened #235 "Can Docker be optional part of the build?"
I do not have Docker on my machine, and Maven can't build S3Mock as it fails on Docker plugin.

It is extremely annoying to fight with Checkstyle via Travis CI responses.

[2020-08-06 09:42] febluthn commented on #64
+1

[2020-08-06 09:44] Adminelix commented on #64
+1

[2020-08-11 02:14] GiltosMx opened #236 "aws s3 ls command not showing files under a prefix"
### What is the problem?
I have a bucket, let's call it `generic-bucket`. Inside that bucket, I have written some objects with a prefix. Let's call it `genericPrefix`. Example:
[code]
I know this might be a bug, because I'm not able to list the objects with the prefix `genericPrefix` using this command:
[code]

In a "real" s3 bucket in AWS I get the following output from the command above (minus t

[2020-08-11 06:50] #232 closed

[2020-08-11 07:10] agudian commented on #236
There have been several attempts to mimic the S3 behavior regarding prefixes correctly, so I wouldn't be surprised if there were still some cases where it doesn't fit.

In the codebase, you find that logic in `FileStoreController.listObjectsInsideBucketV2` and `listObjectsInsideBucket` - just check where the `prefix` parameter goes from there.

You could start with extending one of the `ListObject

[2020-08-13 10:57] agudian commented on #236
This could be related as well: #227

[2020-08-13 14:37] GiltosMx commented on #236
Thank you for the pointers. I'm slammed at work this week, but I'll take a look during the weekend.

[2020-08-14 10:23] afranken opened #241 "Copyright should only contain year of file creation"
We're currently enforcing every file to contain a copyright header, which is mandatory for Adobe OpenSource projects.

Using the https://github.com/mycila/license-maven-plugin/, we're enforcing every header to contain a date in the format of
`<year-of-project-inception> - <current-year>`
even though that's completely unnecessary.

We should enforce the file to contain a date in the format of
`<yea

[2020-08-14 10:30] afranken commented on #241
Looking at the https://github.com/mycila/license-maven-plugin/ documentation, this may be hard to configure.
Even though this would be an easy check using e.g. a regular expression, the license plugin is built not only to enforce the existence of a header, but it can also add the header.

Because of this feature, the plugin reads the template and replaces any properties found, in our case `${licen

[2020-08-14 11:07] afranken commented on #241
also see discussion in #231

[2020-08-17 09:33] afranken commented on #241
PoC:
adding `<license.git.copyrightLastYearMaxCommitsLookup>100000</license.git.copyrightLastYearMaxCommitsLookup>` to the configuration to enable finding a file's creation date even in large GIT histories and changing the line in the copyright template to ` Copyright ${license.git.copyrightCreationYear} Adobe.` works with version `4.0.rc2.

Caveat:
we need to fix all headers in all files if we do

[2020-08-18 19:16] AnushaErrabelli opened #242 "To download files locally from Docker S3mock gives an error"
I'm using docker for S3mock but I have an application running locally, when I upload the files it doesn't complain but when I'm downloading the files it's giving me https://s3mock:9090/test-files but my files are available at http://localhost:9090/test-files is there any way I can modify the request?

[2020-08-18 19:17] AnushaErrabelli commented on #242
Error details:
      Failed to find a DNS-record for the resource at

[2020-08-19 02:43] ChaithanyaGK commented on #242
@AnushaErrabelli Thanks for reporting.

It looks like the client is trying to connect to HTTPS end-point and the default s3mock HTTPS port is `9191`. If you are intended to use HTTPS then,
1. Configure the client to use the end-point `https://localhost:9191`
2. Expose `9191` port in your docker-compose.

Or if you want to stick to HTTP then,
1. Configure the client to use the end-point `http://loc

[2020-08-19 16:00] AnushaErrabelli commented on #242
@ChaithanyaGK Thank you for the reply! Initially I thought of not changing the actual S3 client flow but it seems it's the only way it can be done!

[2020-09-07 12:59] HackerTheMonkey opened #243 "NoSuchMethodError when running S3 Mock in Java 8"
Hi there,

I am building a service that uses SpringBoot version `2.3.3` and java 8 which uses S3 Mock with Junit5 tests.

The version of S3 Mock that I am using is `2.1.26` which seems to have been built with a version higher than Java 8 if I got this right, which is causing the following exception to be thrown for me while trying to do something like this:

_this is what I am trying to do_
[code]

[2020-09-07 14:00] afranken commented on #243
Hi!
We're using Java 8 to compile all classes here:
https://github.com/adobe/S3Mock/blob/main/pom.xml#L51

When I copy and paste your code into a new test method into one of the Unit-Test classes in this repository, it executes fine with Java8, for example:
https://github.com/adobe/S3Mock/blob/main/testsupport/junit5/src/test/java/com/adobe/testing/s3mock/junit5/sdk2/S3MockExtensionProgrammaticTes

[2020-09-07 14:36] HackerTheMonkey commented on #243
Thanks for looking into it.

I've tried it on a different machine that has nothing else but Java 8 and had the same error. I've tried as well to print out the JRE version prior to invoking that as in below:

[code]

I will try to build and run within a docker container with java 8 and see what might be happening.

[2020-09-07 15:32] afranken commented on #243
just created this out of curiosity, works out-of-the-box for me:
https://github.com/afranken/S3Mock-SpringBoot-junit5

Just went to https://start.spring.io/ and selected Java8, added S3Mock.

[2020-09-07 20:12] HackerTheMonkey commented on #243
Appreciate looking further into it.

I had a bit more time this evening and thought of running some tests.

I created the following class locally and then inspected its bytecode, it simply calls the `clear` method on `ByteBuffer` just like `AwsChunkDecodingInputStream`

_the test code_
[code]

_the outcome of javap against the compiled bytecode with Java8 on macOSX_

[code]

Note that the `clear`

[2020-09-07 20:45] HackerTheMonkey commented on #243
Right, I found what the problem is.

The releases of the S3 Mock is compiled with Java 11, using the `source` and `target` compiler argument set to 8, these arguments have been deprecated in favour of `--release` as they seem to leak JDK9+ dependencies into a java8 source and target build.

I have checked out your code and built it from source using:

1- When built as-is with java8, I get the foll

[2020-09-09 14:23] HackerTheMonkey commented on #243
@afranken What do you think? I guess an alternative to the above would be to not change the code but build with Java8 instead.

[2020-09-09 19:48] afranken commented on #243
@HackerTheMonkey sry for the delay - was swamped at work.
I just created a PR, will try to get @agudian to review and merge tomorrow and then release a new version. :)

Going back to JDK8 may have been an option, but problematic since only a few companies are still supporting JDK8 with security fixes for a subscription fee and I'm not sure if the Github build infrastructure we're now using is offe

[2020-09-09 20:14] #243 closed

[2020-09-09 20:17] afranken commented on #243
Still wondering why the old version works for me...
I have JDK8, JDK11 and the newest JDK installed on my machine - there's probably some magic going on that pulls in the correct `rt.jar` if it's present in the system?

[2020-09-09 20:31] agudian commented on #243
Great analysis, @HackerTheMonkey! The release with the suggested fix is out, please give it a try.

[2020-09-10 06:19] afranken commented on #242
@AnushaErrabelli is this question resolved then? :)

[2020-09-10 08:52] HackerTheMonkey commented on #243
thanks guys for the quick response, much appreciated 🙌 🙏

I've used the new release and works great.

cheers

[2020-09-10 09:42] HackerTheMonkey commented on #243
yeah, that's strange indeed. One thing you could try to see if there's in fact some weirdness _somwhere else_

1- Create a simple class like this:
[code]

- compile this class with Java 9+, using `source` and `target` to `1.8`
- run this class with JRE 8 and then JRE 9 or 11 and see the difference

[2020-09-23 23:12] mayurbonde opened #245 "Slash / at start of path with Get doesnt work"
I was trying to write a path` /app-data/Config/<Random UUID>.Config
`

Get API worked with path  "app-data/Config/<Random UUID>.Config"

Missing / at start. But put and get path should be the same. it should work with the same path

[2020-09-24 19:41] danieler1981 commented on #242
I'm try to download a file this command:
`AWS_ACCESS_KEY_ID=username AWS_SECRET_ACCESS_KEY=password aws --endpoint-url=http://localhost:9090 s3  cp s3://mybucket/a/b/c/d/test.json ./`

Seems like I receive back a binary version of this file rather than a JSON.
Downloading the file with NodeJS everything Is working fine.

May I have miss something?

[2020-10-14 11:50] ddewaele opened #247 "Amazon S3 virtual-hosted-style buckets fail with java.net.UnknownHostException"
I was testing s3Mock with a bucketname containing `_` characters and all went well, until I swtiched the `_` with `-`, and all of a sudden it was failing with

[code]

It seems that AWS [has deprecated path-style-api requests](https://forums.aws.amazon.com/ann.jspa?annID=6776) in favor of virtual addressing, leading to this issue.

What would be the best way to resolve this ?

[2020-10-26 23:57] mayurbonde commented on #245
Solution https://github.com/adobe/S3Mock/pull/248/commits
Please some one port this

[2020-11-09 16:19] hsomyk commented on #64
+1

[2020-11-19 10:25] outsideMyBox commented on #227
I have a similar issue in my unit tests without defining prefixes.
Here is a snippet:

[code]
Note that the isTruncated() returns false each time so that is not the issue here.

[2020-12-18 14:02] AhtiAhde opened #249 "Garbage collection perhaps needed in case of crashing docker containers"
I noticed that upon startup S3 Mock gives me strangely long steam of very fast stdout/err that takes forever to finish and it seemed to get longer every now and then.

I also noticed that my disk space was getting more and more full.

Whenever S3 Mock crashes, it keeps the files in the filesystem, even though same bucket would be created with exactly same files. So the crashing S3 Mock had been cr

[2021-02-24 10:09] JarnoRFB opened #250 "java.lang.NoSuchMethodError: in Spring boot autoconfigure"
Hi, I am using

[code]

and tried to get the standard SDK v1 example to run with JUnit 5, however I am getting the exception below.
I checked my class path and deleted all spring dependencies form my local repository. Yet, I can not find any conflicting spring dependency. This issue seems to be related to #175.

Any help much appreciated.

[code]

[2021-03-25 18:59] oofoghlu commented on #199
I've encountered this problem with boto3 when listing objects in a bucket e.g. with boto3 s3 client: `client.list_objects_v2(Bucket=BUCKET)`

I think I know what the problem is. boto3 will automatically send EncodingType='url' if none is specified. It should then automatically decode the url encoding when returning the response dict.

I think the reason it is not performing the decode is because S

[2021-03-31 12:11] DiaGitHub opened #252 "amazonS3.selectObjectContent returns Bad Request"
I'm using adobe/s3Mock 2.1.28 image
I want to use the selectObjectContent (aws sdk v1) but I get this error :

com.amazonaws.services.s3.model.AmazonS3Exception: Bad Request (Service: Amazon S3; Status Code: 400; Error Code: 400 Bad Request; Request ID: null; S3 Extended Request ID: null; Proxy: null)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.handleErrorResponse(AmazonHttpClient.java

[2021-04-03 14:33] PoladMahmudov opened #253 "uncaught target signal 11 (Segmentation fault) - core dumped, running a container on MacOS with M1 chip"
**Error**
Unable to start a container on new MacBook Pro with M1 chip

[code]

**Reproduce**
[code]

**System**
macOS Big Sur v11.1
Apple M1 chip

**Relevant issue**
Quoted from [here](https://github.com/docker/for-mac/issues/5123#issuecomment-784992589)

[2021-04-06 15:39] vijjukumar commented on #253
Do we have any workaround for this. Still i am having the same issue.

[2021-04-07 10:43] aleixmorgadas commented on #253
I've been trying to build the image by my own, but I failed 😅

<img width="1420" alt="image" src="https://user-images.githubusercontent.com/49761379/113854161-d76ffe00-979e-11eb-97f3-b8aca9331547.png">

[2021-04-15 01:34] wuliqqq commented on #250
Have you solved it

[2021-04-15 01:36] wuliqqq commented on #250
I have the same problem as you, but I can start it with idea's xrebel plug-in

[2021-04-19 10:27] MoSattler commented on #253
Same problem here

[2021-04-20 14:18] DiaGitHub commented on #252
The image does not support this method.

[2021-04-20 14:19] #252 closed

[2021-04-23 14:36] agudian commented on #199
Fixed by @froesef 👍

[2021-04-23 14:36] #199 closed

[2021-04-23 14:40] agudian commented on #253
I guess until a bit more general issues around Docker, the portability of common images and the various tools are resolved for the M1 chips, you'd have to revert back to using the mock as a library or as a JUnit rule/extension... 🤷

[2021-04-23 14:48] agudian commented on #201
Closing this, as no one was able to provide an answer by now... 🤷

[2021-04-23 14:48] #201 closed

[2021-04-23 14:51] agudian commented on #247
We have a related feature description with #144.

The issue describes some ideas and challenges around it, but it wasn't picked up, yet. Contributions are welcome 🙂 .

[2021-04-23 14:51] #247 closed

[2021-04-28 09:37] anoumaru commented on #170
I'm having the same issue, could you find the root @sparkmuse ? it would be nice to hear from you :)

[2021-04-28 21:37] sparkmuse commented on #170
@anoumaru  I was not able to get it to work. I am using other technologies at the moment.

[2021-04-28 21:37] #170 closed

[2021-05-03 13:27] vlsi opened #255 "Split test artifacts so users could pull either SDK v1 or SDK v2 dependency"
Currently, test-common pulls both SDK v1 and SDK v2, which causes excessive classes in autocomplete.

It would be nice to avoid pulling v1 SDK when only v2 is needed even though they are for testing purposes only.

WDYT?

[2021-05-03 15:07] agudian commented on #255
That’s a good idea!

[2021-05-10 21:29] bagdemir commented on #253
Same here. Till the problem get fixed, you can build your own arm64-based docker image with a simple Dockerfile if this work-around works for you to:
[code]

[2021-06-08 04:05] amdelamar opened #256 "Need better logging controls"
Using `S3MockApplication.start()` in sbt tests produces lots of logging output and noise. I think some of the logging isn't done via logback or doesn't adhere to logback levels at least.

I've set `logback-test.xml` to hide most and its better, but it doesn't prevent the s3mock ascii from appearing. In my test suite we have multiple classes and each prints the logo and additional "JUL framework" l

[2021-06-08 14:56] afranken commented on #256
Hi!

If you use ```S3MockApplication start(Map<String, Object> properties, String... args)``` to start the mock, and pass ```{"silent": true}``` in the properties, the application will log on WARN and skip the logo. :)

Cheers,
Arne

[2021-06-08 17:17] amdelamar commented on #256
That works, thank you!

[2021-06-08 17:17] #256 closed

[2021-06-09 12:27] mibollma opened #257 "aws sync broken since 2.1.29"
aws sync seems to be broken since 2.1.29.
Calling the command in it's basic form e.g. `aws s3 sync . s3://bucket --endpoint-url http://localhost:9090` produces the error **fatal error: 'Prefix'**.
The same command works fine till version 2.1.28.

[2021-06-15 18:14] ifigotin commented on #202
I also see the issue while using `aws s3` locally.

I think the issue may be related to how `CommonPrefixes` are serialized. The botocore library seems to expect a nested `Prefix` under `CommonPrefixes` see here:
https://github.com/boto/botocore/blob/develop/botocore/handlers.py#L734

But the output XML sometimes has `CommonPrefixes` as an empty tag with nothing inside. I see this on a new bucket

[2021-06-28 11:52] afranken commented on #257
I just reproduced this locally.
In #251, which was released in 2.1.29, support for the "encodingType" parameter was added.

Unfortunately, this seems to have broken object listing, as the client expects several field values in the response to be encoded (`Prefix` for example). If the field value is empty, the client expects those fields to be dropped from the response.
The error is thrown because

[2021-06-28 11:52] afranken commented on #257
API for reference:
https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListObjectsV2.html#API_ListObjectsV2_ResponseSyntax

[2021-06-29 21:30] gerhalt commented on #257
Ran into exactly the same original URL-encoding issue and the new breakage described here.

[2021-06-30 10:11] afranken commented on #257
I have a fix ready, just working on the tests right now - unfortunately the V1 and V2 APIs (or rather the client implementation of ListObjects vs ListObjectsV2) do different things when it comes to responses with encoding.

I'm wondering if we have to keep supporting the V1 APIs in the mock...

[2021-06-30 10:40] mibollma commented on #257
I'm still using V1 currently. One reason is that some features were only available in V1 at least until recently, such as DynamoDB client-side encryption: https://github.com/aws/aws-sdk-java-v2/issues/34#issuecomment-859703909.

[2021-06-30 14:13] afranken commented on #257
I did not mean the Java SDK V1, but the API:
https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListObjects.html
https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListObjectsV2.html

It is possible to request both ListObjects as well as ListObjectsV2 with the V1 SDK:
V1
https://github.com/aws/aws-sdk-java/blob/master/aws-java-sdk-s3/src/main/java/com/amazonaws/services/s3/AmazonS3.java#L543
V2

[2021-07-01 07:07] #257 closed

[2021-07-01 10:25] #245 closed

[2021-07-01 10:34] afranken commented on #242
@danieler1981 if no content type is given when an S3 object is uploaded, the backend automatically assigns `binary/octet-stream` as the content type.
I'm guessing that NodeJS applies some magic where it guesses the content-type from the file name.

Anyway, this issue is about a completely different problem, which seems to be resolved.
Closing.

[2021-07-01 10:34] #242 closed

[2021-07-01 10:45] afranken commented on #236
Not reproducible.
I'm guessing some change in the last 11 months fixed this problem.

I have  a local folder with a few files and a sub-folder:

[code]

I sync that folder into "my-test-bucket"
`aws s3 sync . "s3://my-test-bucket/" --endpoint-url http://localhost:9090`

I can successfully `ls` the bucket:
[code]

as well as only the prefix in the bucket:
[code]

[2021-07-01 10:45] #236 closed

[2021-07-01 14:15] afranken commented on #227
@outsideMyBox
can't reproduce your problem locally after adding your code (plus setup plus "purge bucket") to the `com.adobe.testing.s3mock.junit4.S3MockRuleTest`

[code]

the listobjects calls always work and return the correct count.
So I can only guess what the problem is - maybe a timing issue?

If your problem persists, then please open a _new_ issue linking a working unit-test, for instance

[2021-07-01 14:33] afranken commented on #202
@ifigotin this was fixed recently and has nothing to do with the original issue in this ticket. (see #257)

[2021-07-01 14:35] afranken commented on #202
@yonilerner seems like you got your problem solved, then?
When you start the mock locally, either in Docker or by running the Java application directly, the Mock will only ever be reachable on `localhost`, and never under the sub-domain `bucket-name.localhost`.
Bucket names must be passed as part of the path or as a query parameter.

[2021-07-01 14:35] #202 closed

[2021-07-01 16:35] afranken commented on #128
Sorry, it's been a while. :(
This was just fixed, see #257 / #258

[2021-07-01 16:35] #128 closed

[2021-07-02 12:33] jakelamotta opened #262 "When using putObject bucket is created rather than object"
I am completely new to S3 so it might be me doing something wrong here but the java AmazonS3Client is behaving very strange with the Docker S3Mock server. So I am using the latest docker image.

I am using the 1.12.15 version of AmazonS3Client. I am not doing anything advanced yet, just trying to add a file to the bucket I have created (via aws-cli). This is what I do:

`var client = AmazonS3Clien

[2021-07-02 16:21] afranken commented on #262
@jakelamotta can't reproduce...
See
https://github.com/adobe/S3Mock/blob/main/server/src/test/java/com/adobe/testing/s3mock/its/AmazonClientUploadIT.java#L161
for examples on how to use the mock with the Amazon client.
If you started the S3Mock on the default ports (it seems you did) you can just run all tests in "IT" named classes against that instance.

[2021-07-06 09:44] afranken commented on #262
@jakelamotta did this answer your question?

[2021-07-06 11:26] #203 closed

[2021-07-06 11:26] #215 closed

[2021-07-06 11:40] afranken commented on #205
Closing this as the original author was able to solve their problem.

[2021-07-06 11:40] #205 closed

[2021-07-07 09:08] afranken commented on #249
@AhtiAhde thanks for reporting this.
I have proposed a change that deletes all files *on a regular shutdown*.
Unfortunately, there's no way to delete files if the process itself is not shut down in an orderly fashion, for instance if the Docker container crashes.
We also can't print out any warnings, since any shutdown hook we would register (both in the Java process or in Docker) would again need

[2021-07-07 09:15] #249 closed

[2021-07-07 10:36] afranken commented on #249
@AhtiAhde you could, however, use a local file system to store the files like it's proposed in #200
Then you would be able to see residual data after crashes.

[2021-07-07 13:41] #235 closed

[2021-08-05 20:19] wfhartford opened #275 "BeanCreationException upgrading from 2.1.32 to 2.1.33 or later"
I upgraded s3mock to the latest version and now get an exception when starting. The breakage seems to be from version 2.1.32 to 2.1.33 with all later versions exhibiting the same behaviour.

S3Mock is being started in a test class using the following code (kotlin):
[code]

This results in the following exception:
[code]

Looking through the release notes and code diff between the two versions did

[2021-08-06 12:04] afranken commented on #275
Not reproducible.
See #276 which adds a unit test that does what your code does (only it's in Java).

2.1.32 to 2.1.33 was actually a big change in dependencies. I updated almost every dependency we have, most notably the Spring Boot dependency, which in turn updates the Spring Framework.

Maybe I should have changed the minor or major version instead of the patch version for that release - if you

[2021-08-06 12:06] afranken commented on #275
Can you run Docker in your build?
I just added a testsupport module for TestContainers (will be released later today).
If you start through the Java API, there will always be the risk that some dependency in your project will break the S3Mock, and vice versa.

Using Docker in your tests will insulate both applications dependencies and application life cycles.

[2021-08-06 14:53] wfhartford commented on #275
Ahhh, I was wondering how much was hiding behind those parent pom changes. Thanks for looking into this. I noticed your testcontainer support when I was investigating and thought that would be a much better solution. I'll go down that path instead.

The project I'm working in doesn't include any spring dependencies other than the ones pulled in by s3mock. The only dependencies which are changed fr

[2021-08-06 15:17] afranken commented on #275
Spring is always very clever on which parts of its own configuration to use and which beans to instantiate.
There's a  `@ConditionalOnClass(ConnectionFactory.class)` (on `io.r2dbc.spi.ConnectionFactory` to be exact) that was triggered because the class is available in your classpath when starting the S3MockApplication:
https://github.com/spring-projects/spring-boot/blob/main/spring-boot-project/sp

[2021-08-06 15:17] #275 closed

[2021-08-06 15:18] afranken commented on #262
@jakelamotta
I'm guessing your question is answered, then. :)

[2021-08-06 15:18] #262 closed

[2021-08-06 15:44] afranken commented on #250
S3Mock 2.2.0 was just released that now includes support for [TestContainers](https://www.testcontainers.org/).
If there is a possibility of running Docker during your build, I would highly suggest migrating to TestContainers.

Using S3MockApplication directly or through one of the unit test modules will always have the risk of breaking because of dependencies that are pulled in by the application

[2021-08-06 15:44] #250 closed

[2021-08-06 15:46] afranken commented on #175
S3Mock 2.2.0 was just released that now includes support for [TestContainers](https://www.testcontainers.org/).
If there is a possibility of running Docker during your build, I would highly suggest migrating to TestContainers.

Using S3MockApplication directly or through one of the unit test modules will always have the risk of breaking because of dependencies that are pulled in by the application

[2021-08-06 15:46] #175 closed

[2021-08-06 15:46] afranken commented on #216
S3Mock 2.2.0 was just released that now includes support for [TestContainers](https://www.testcontainers.org/).
If there is a possibility of running Docker during your build, I would highly suggest migrating to TestContainers.

Using S3MockApplication directly or through one of the unit test modules will always have the risk of breaking because of dependencies that are pulled in by the application

[2021-08-06 15:46] #216 closed

[2021-08-06 15:46] afranken commented on #209
S3Mock 2.2.0 was just released that now includes support for [TestContainers](https://www.testcontainers.org/).
If there is a possibility of running Docker during your build, I would highly suggest migrating to TestContainers.

Using S3MockApplication directly or through one of the unit test modules will always have the risk of breaking because of dependencies that are pulled in by the application

[2021-08-06 15:46] #209 closed

[2021-08-06 15:47] afranken commented on #191
S3Mock 2.2.0 was just released that now includes support for [TestContainers](https://www.testcontainers.org/).
If there is a possibility of running Docker during your build, I would highly suggest migrating to TestContainers.

Using S3MockApplication directly or through one of the unit test modules will always have the risk of breaking because of dependencies that are pulled in by the application

[2021-08-06 15:47] #191 closed

[2021-08-06 15:47] afranken commented on #114
S3Mock 2.2.0 was just released that now includes support for [TestContainers](https://www.testcontainers.org/).
If there is a possibility of running Docker during your build, I would highly suggest migrating to TestContainers.

Using S3MockApplication directly or through one of the unit test modules will always have the risk of breaking because of dependencies that are pulled in by the application

[2021-08-06 15:47] #114 closed

[2021-08-06 15:47] afranken commented on #113
S3Mock 2.2.0 was just released that now includes support for [TestContainers](https://www.testcontainers.org/).
If there is a possibility of running Docker during your build, I would highly suggest migrating to TestContainers.

Using S3MockApplication directly or through one of the unit test modules will always have the risk of breaking because of dependencies that are pulled in by the application

[2021-08-06 15:47] #113 closed

[2021-08-06 15:48] afranken commented on #61
S3Mock 2.2.0 was just released that now includes support for [TestContainers](https://www.testcontainers.org/).
If there is a possibility of running Docker during your build, I would highly suggest migrating to TestContainers.

Using S3MockApplication directly or through one of the unit test modules will always have the risk of breaking because of dependencies that are pulled in by the application

[2021-08-06 15:48] #61 closed

[2021-08-09 14:17] mpaluchowski opened #277 "Move the custom banner to a custom location"
Could you change the location of `banner.txt` to a different one, and configure it explicitly via `spring.banner.location`?

Currently it's placed in the classpath root, and when we include it in the test scope of another Spring Boot application, the S3Mock banner appears on all tests and calling `silent()` on the builder has no effect. (We don't use custom banners ourselves.)

Moving it to a diff

[2021-08-09 14:31] afranken commented on #277
How do you instantiate the S3Mock?
#256 describes how to get rid of the logo. :)

[2021-08-09 14:33] afranken commented on #277
Ah, sorry, I understand - the banner is picked up by *your* application.

[2021-08-09 14:36] afranken commented on #277
Are you able to run Docker in your builds?

S3Mock 2.2.0 was just released that now includes support for [TestContainers](https://www.testcontainers.org/).
If there is a possibility of running Docker during your build, I would highly suggest migrating to TestContainers.

Using S3MockApplication directly or through one of the unit test modules will always have the risk of breaking because of depend

[2021-08-09 16:42] wwelling opened #279 "Copy object part failures"
A few issues while testing with multipart upload copy. The copy object part endpoint is not encoding its source key resulting in the source object not being found. The copy object part endpoint is not producing XML and AWS SDK cannot serialize responses from JSON. The copy part is casting long to int preventing any testing of larger part ranges.

[2021-08-09 16:59] afranken commented on #279
Thank you for your contribution.
Coincidentally, I noticed today too that the response is not XML and was wondering if this even worked. (Same for the getObjectTagging API, BTW)

How did you reproduce these errors?
It'd be great to have local integration tests that find these issues as well. Seems like we're missing some integration tests here :(

[2021-08-10 11:07] mpaluchowski commented on #277
We're making a conscious decision to avoid Docker in this case.

Do I understand correctly that S3Mock usage without Docker is discouraged?

[2021-08-10 11:14] mpaluchowski commented on #277
Running S3Mock inside Docker will not solve the issue, because we still need to add `com.adobe.testing:s3mock` as a dependency in tests, so the `banner.txt` will become part of the test classpath.

[2021-08-10 12:14] afranken commented on #277
May I ask why?

Yeah, I'd say it's discouraged if you're testing a Spring application.
The problem is that the class paths are always entangled during the unit tests if you start the S3Mock using the Java API.
Any dependency update in your application or in the S3Mock may break the startup of the other application, for example an auto configuration is suddenly triggered because new classes are on

[2021-08-10 12:28] #277 closed

[2021-08-10 12:28] mpaluchowski commented on #277
OK, I get your point.

[2021-08-10 21:15] wwelling commented on #279
https://github.com/wwelling/s3utils/tree/multipart-copy

https://github.com/wwelling/s3utils/blob/multipart-copy/src/test/java/edu/harvard/s3/store/AbstractStoreTest.java#L114

[2021-08-10 21:17] wwelling commented on #279
Should be straightforward to add some Spring controller tests. I think `@WebMcvTest(TheController.class)` annotation should simplify.

[2021-08-11 07:17] #279 closed

[2021-08-11 12:19] afranken commented on #279
@wwelling
just released 2.2.1 with your fix, thanks! :)

[2021-08-11 12:27] afranken commented on #277
@mpaluchowski be sure to give us feedback on the integration with the TestContainer, if you choose to use it :-)

[2021-08-11 16:27] JarnoRFB commented on #250
Thanks for pointing out TestContainers! I will look into it, if the problem pops up again.

[2021-08-14 00:26] stenh0use opened #281 "Custom Docker Container with TLS / HTTPS certificate"
Took me a little bit to figure out how to create a docker container with custom TLS certificate.

Seeing as there does not seem to be any documentation on this one I thought my solution might be beneficial to others.

Feel free to close.

[code]

[2021-08-24 14:26] ruudk opened #282 "Docker > Enable logging"
First of all, thanks for this amazing project!

I'm using the official `adobe/s3mock` Docker image and it only outputs when things go wrong.

I'd like to see all requests that it receives. Is there a way to configure that using an environment variable?
If not, can it be added?

[2021-08-24 17:06] afranken commented on #282
@ruudk thanks for using our mock :)

There's currently no explicit logging of requests or responses in our code.
You can however enable Spring Boot's "debug" mode which logs lots of information about the application, including all incoming requests. This works on any recent version of the mock.

For example:
[code]

Sample output:
[code]

[2021-08-24 17:10] ruudk commented on #282
@afranken Excellent, that's exactly what I want. Thanks!

[2021-08-25 15:58] #282 closed

[2021-08-30 14:45] muskedunder opened #286 "Contents of volume are deleted in version 2.1.36 and later"
I create an s3 container according to the following compose file, then I post some data to the container.
[code]
I can inspect the volume `s3_data` and see that the data is there as expected.

However, if I stop the container the data in the volume is suddenly lost, which was not the case with version 2.1.34.

[2021-08-30 15:30] afranken commented on #286
Yes, that is correct.

Before, S3Mock would never delete any files, cluttering every developer's machine or build system.
Now it deletes any files that were created during it's lifetime.

[2021-08-31 07:24] muskedunder commented on #286
Hmm, ok.

But if I explicitly create a volume that maps to the data directory of the container I would certainly expect it to remain even after the container is stopped, and that is also how it works for all other database containers that I have used.

[2021-08-31 13:40] NikhilPareek88 opened #287 "Facing issue while running docker image on Apple M1 platform."
### **Logs as follows:**

**docker run -it adobe/s3mock**
[code]

[2021-08-31 15:25] afranken commented on #287
this seems to be a duplicate of #253

[2021-09-01 14:38] afranken commented on #287
@NikhilPareek88 did you check #253? Is this a duplicate?

[2021-09-01 14:46] NikhilPareek88 commented on #287
yes, this is similar to #253 and I trying to follow the last comment to write own docker images based on jar.

[2021-09-01 14:47] NikhilPareek88 commented on #287
yes, this is similar to #253 and I trying to follow the last comment to write own docker images based on jar.

[2021-09-23 13:22] #286 closed

[2021-09-23 13:27] afranken commented on #74
version 2.2.2 adds CORS headers for all origins (wildcard pattern).
Hope that helps.

[2021-09-23 13:27] #74 closed

[2021-09-23 15:40] afranken commented on #286
@muskedunder Just released 2.2.2 containing this change.

[2021-10-01 14:32] alexandernajafi opened #290 "Cannot get ACL for new object"
When I try to fetch the ACL list for a newly created object, the call fails with the following stack trace. See below for a code example to reproduce.

[code]

To reproduce is simple. Set up the S3Mock and run the following test (assuming mock is set up at port 8001)

[code]

The mock is started using the Juni4 ClassRule with
[code]

[2021-10-18 16:50] afranken commented on #290
@alexandernajafi thanks for your ticket.

Unfortunately, ACLs are currently not implemented by the S3Mock.

[2021-10-20 18:10] jerry-cherry opened #291 "bucket lifecycle configuration is not supported"
Bucket lifecycle configuration doesn't seem to be supported with the version 2.1.28. would it be possible to support it?
This is the code snippet:
[code]

[2021-11-02 17:41] ansman commented on #287
FYI I have deployed a mirror that supports arm64 to `bontouch/s3mock:2.2.2`.

[2021-11-02 17:41] ansman commented on #253
FYI I have deployed a mirror that supports arm64 to `bontouch/s3mock:2.2.2`.

[2021-11-02 19:40] jerry-cherry opened #292 "listMultipartUploads does not respect bucketName"
it returns uploads for other buckets as well.

It doesn't seem to filter uploads with bucketName.
https://github.com/adobe/S3Mock/blob/26cce47a8612b6951007f65b00fe132ffb5705eb/server/src/main/java/com/adobe/testing/s3mock/FileStoreController.java#L421

[2021-11-03 11:39] afranken commented on #292
@jerry-cherry thx, this was actually an easy fix, implemented right away. :)

[2021-11-03 13:12] #292 closed

[2021-11-03 19:11] afranken commented on #292
Released 2.2.3 today fixing this issue.
Thanks for using our mock! :)

[2021-11-20 05:52] tisonkun opened #305 "Support configure AccessKey & Region"
Currently, s3 client can access s3mock with any access_key & region config. Is it possible to configure these props for mock?

[2021-11-22 14:17] alwaysmpe opened #306 "[Bug] Empty delimiter should be treated as null to match AWS, delimiter at start of key is ignored"
There's an inconsistency between this implementation's interpretation of delimiters and the AWS S3 api, as well as what seems to be a bug or two.

1.
    * (AWS) When making a list_objects_v2 query, if there's an empty delimiter specified, AWS ignores it, returning the same as were there no delimiter specified (I've tested this against AWS).
    * (S3 Mock) This mock has inconsistent behaviour. If

[2021-11-22 14:18] afranken commented on #305
@tisonkun with what goal?
Do you want the S3Mock to reject some incoming connections during the test?
Or do you expect the S3Mock to persist data by accesskey&region so you can use multiple combinations with different levels of access?
There is currently no way to set ACLs or policies on buckets.

[2021-11-23 11:44] afranken opened #313 "Let workspace build on arm64 / M1 macs"
Finally got my M1.
We knew that the Docker container we publish is x86_64 only, which we intend to fix.

Now I see that this workspace does not even build on arm64...
Seems like fabric8 maven plugin bundles some native x86_64 dependencies.

[code]

[2021-11-23 11:46] afranken commented on #313
What does work, however:

Download an x86_64 JDK, for example:
https://www.azul.com/downloads/?package=jdk

run maven in x86_64 compatibility mode using `arch -x86_64 mvn clean install`

[2021-11-23 12:46] afranken commented on #313
Ideally, we'd find a Docker image including Java that is available for both x86_64 and amd64, so we can build on both architectures, and also publish for both architectures.

Technically, that's possible.
Unfortunately I haven't found a Docker image fulfilling all three criteria yet.

[2021-11-24 12:00] afranken commented on #313
Just pushed the nonsense JDK17 JavaDoc fixes to `main`.
Now I can build the branch using a x86 JDK17 without explicitly calling `arch -x86_64`.

[2021-11-24 12:05] afranken commented on #313
Seems like this is the underlying issue:
https://github.com/jnr/jnr-ffi/issues/257
https://github.com/jnr/jffi/pull/116

[2021-11-24 13:45] afranken commented on #253
Finally received my M1 MacBook.
There is only a warning when starting the S3Mock docker container:

[code]

Afterwards, the S3Mock just starts up.

[2021-11-24 18:26] ansman commented on #253
I saw that too, but it never actually answered any requests for me:
[code]

[2021-11-24 18:27] ansman commented on #253
Compare this to running our fork:
[code]

[2021-11-25 11:21] afranken commented on #313
Confirmed on both M1 and Intel MacBook that the proposed Docker image built is working on the platform it's being built on.
M1 build is still failing without a x86 JDK, since the fabric8 maven plugin depends on jffi which is currently only working on x86:
https://github.com/fabric8io/docker-maven-plugin/issues/1213
See also issues linked above.

Since Github Actions is using x86_64 as an architect

[2021-11-26 16:25] geraldo-netto opened #316 "S3Mock recursive directory malformed (temp72687%2Ftemp39799.tmp => temp72687/temp39799.tmp) ?"
Hi,

I`m mocking with S3Mock the recusive creation of a path, my backend is not AWS S3, but instead it`s [MinIO](https://min.io/)

This is my implementation to create directory using a minio backend:
[code]

This is my unit test:
[code]

When I try to create directories recursively, I have the paths created like this:
`/tmp/s3mockFileStoreXXX/temp233423%2Ftemp425435%2FmyFile.tmp`

I may be wrong,

[2021-11-26 17:39] afranken commented on #316
In S3, there are no directories, everything is an object.
The object key may contain a slash, but it's still just *one* object.
From the S3 documentation:

See for example: https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetObject.html

That's also how S3Mock handles objects, so this behaviour is correct.

[2021-11-26 17:49] geraldo-netto commented on #316
Thank You @afranken , sorry for the trouble :'(

[2021-11-26 17:49] #316 closed

[2021-11-26 18:31] afranken commented on #316
no worries, always happy to answer questions!

Also, there are indeed lots of features / APIs yet to be implemented and probably lots of bugs in the behavior that we have yet to find ;-)

[2021-12-01 10:24] juanmorschrott opened #322 "Can´t assign a list of initial buckets"
In the documentation states that:

`initialBuckets: list of names for buckets that will be available initially.`

But it actually only supports:

`services.s3.environment.initialBuckets must be a string, number, boolean or null`

[2021-12-01 22:41] afranken commented on #322
It's actually a list of strings, not numbers or booleans.
`initialbucket1, initialbucket2` would be a valid setting.
Same for kms keys.

See for example our integration tests:
https://github.com/adobe/S3Mock/blob/main/integration-tests/pom.xml#L134

I'll add examples to the documentation, thanks for mentioning this!

[2021-12-02 08:45] juanmorschrott commented on #322
Is it a valid yaml list format? It causes trouble on IntelliJ.

Thanks for answer so fast. Regards

[2021-12-02 08:48] afranken commented on #322
Have you tried passing in a String containing the list of names? `"initialbucket1, initialbucket2"`

[2021-12-02 08:50] juanmorschrott commented on #322
It works when I tried this way:
 - ib1, ib2
 - "ib1, ib2"
And it doesn´t work this other way:
 - ib1
 - ib2

["ib1", "ib2"]

[2021-12-02 08:51] #322 closed

[2021-12-02 08:52] afranken commented on #322
I'll add an example to the readme, thanks.

[2021-12-07 18:35] mikemonteith commented on #74
This change results in two identical `Access-Control-Allow-Origin: *` headers being set on the `GET` controller, which gives a browser error "Cross-Origin Request Blocked: .... (Reason: Multiple CORS header ‘Access-Control-Allow-Origin’ not allowed)."

There was already a cross origin http header being set here https://github.com/adobe/S3Mock/blob/afbce436ea5e4354ffa6780c71c115b6874266c7/server/sr

[2021-12-07 18:43] afranken commented on #74
@mikemonteith thx for alerting me - I'll remove the explicit setting you mentioned, just opened a PR :)

[2021-12-07 18:43] mikemonteith commented on #74
Wow @afranken that was fast!

[2021-12-07 18:47] afranken commented on #74
@mikemonteith thanks for providing the solution with the report :)

I was just merging the latest dependabot updates and then release, so it was easy to add in this trivial fix.
We unfortunately do not have any browser-related tests, and I was too lazy to manually test if the CORS headers are actually working. Maybe I'll add asserts to one of the integration tests when I find the time...

[2021-12-13 14:22] ruudk commented on #313
It's possible to build ARM64 images on GitHub Actions, example:
[code]

[2021-12-13 14:28] afranken commented on #313
@ruudk thanks, the main problem right now is that we use the [docker-maven-plugin](https://github.com/fabric8io/docker-maven-plugin) to both build and publish the Docker container.
There are two problems:
1) the plugin itself is not executable on M1 (ARM64) processors.
That's what this ticket is about.

2) the plugin does not allow publishing to multiple platforms at once. (it does not use [docker

[2021-12-21 12:53] afranken commented on #313
merged https://github.com/adobe/S3Mock/pull/333 today, and now at least I can build `main` on my M1 without errors.
This still does not allow us to release a multi-arch image.

[2021-12-22 15:50] afranken commented on #313
see last comment, we're good here for now. At least I can build the S3Mock locally and run all IntegrationTests.

[2021-12-22 15:50] #313 closed

[2021-12-29 20:16] AlJohri opened #340 "README instructions for building with skipDocker failing"
Running `mvn clean install -DskipDocker` as per the README instructions fails because some tests still rely on Docker.

Can these instructions be updated in the README or the tests relying on docker skipped when `skipDocker` is passed?

Traceback:
[code]

[2021-12-30 06:27] AlJohri opened #341 "MultipartUpload with uploadPartCopy not working"
I'm having an issue running a MultipartUpload using uploadPartCopy that works with S3 but fails with S3Mock. I'm getting this error **"One or more of the specified parts could not be found. The part might not have been uploaded, or the specified entity tag might not have matched the part's entity tag."**

I've attached the full test code, output running against s3, output running against s3 mock,

[2021-12-30 06:34] AlJohri commented on #341
Missed to add the script to generate test data to run the Java test:

[code]

Outputs data in this format:

[code]

`test-file.part0` and `test-file.part1` are combined using MultipartUpload with uploadPartCopy to recreate `test-file`. Then the byte array is compared with the local vs uploaded file.

[2021-12-30 19:37] robd opened #342 "Adding a dependency on S3Mock enables debug logging for org.apache.http and software.amazon"
When I add a gradle dependency on S3Mock, debug logging becomes enabled for calls made by my application code for `org.apache.http`, `software.amazon`. This occurs when I add the following to my `build.gradle.kts` (even if I don't make any code changes to use anything from S3Mock):

[code]

I think this is to do with a transitive dependency on something in `org,springframework.boot`, because when

[2021-12-31 09:31] robd commented on #342
After more investigation, this was because of the transitive dependency to `ch.qos.logback:logback-classic:1.2.7` from spring boot, and I fixed it by excluding that dependency in my `build.gradle.kts`:

[code]

Is it possible / desirable to exclude this dependency within the S3Mock? Most people will want to configure their own logging provider I think.

[2022-01-01 14:37] afranken commented on #340
@AlJohri just out of curiosity, why do you need to build the S3Mock without Docker?
Fixed with #344, but this is hard to test - every core developer has Docker installed, and it's available with every Github action.

[2022-01-01 16:05] afranken commented on #342
Support for [TestContainers](https://www.testcontainers.org/) was added in S3Mock 2.2.0, a Docker container for general usage was added way before that.
If there is a possibility of running Docker during your build, I would highly suggest migrating to TestContainers.

Using `S3MockApplication` directly or through one of your unit test modules will always have the risk of breaking because of depend

[2022-01-01 17:37] AlJohri commented on #340
Thanks for the quick fix @afranken! My company currently doesn't allow network access during CI builds and uses something akin to an internal maven repository. And I haven't gotten around to setting up Docker yet locally after the recent [license change](https://www.docker.com/blog/updating-product-subscriptions/).

[2022-01-01 18:42] robd commented on #342
I'm not able to install Docker in my situation (locked down machines). Helpful to know that using`S3MockApplication` directly may break at any time - and now see that you have sent this reply on 10+ issues so apologies for retreading old ground. Would it be helpful to remove the instructions to use it programmatically way from the README? - happy to do a PR for this if that would help.

[2022-01-01 22:45] #340 closed

[2022-01-01 22:53] afranken commented on #340
They should mirror the official Maven repositories. It's easy to do if they're using [Artifactory](https://jfrog.com/artifactory/).

[2022-01-01 23:09] afranken commented on #341
@AlJohri thanks for this detailed report - I found the issue and prepared a fix, see PR. :)

[2022-01-01 23:10] afranken commented on #342
No worries - it's what maintainers are there for :)

You can still use the S3Mock programmatically, it's just impossible to separate your application's classpath from the S3Mock classpath if you directly start it in unit tests, and we can't guarantee stability over even patch releases because we need to keep up with dependency updates.

[2022-01-01 23:14] #306 closed

[2022-01-01 23:19] AlJohri commented on #341
Wow, that was fast! Thanks! I will try this out tomorrow.

[2022-01-02 21:56] #341 closed

[2022-01-03 21:20] AlJohri commented on #141
Quick follow up question, is it safe to exclude `spring-boot-starter-logging`? I'm not super familiar yet with java dependency management, but I thought that all the dependencies listed in `mvn dependency:tree` or `mvn dependency:list` were required?

[code]

If that's not the case, perhaps it makes sense to make the exclusion in S3Mock's `pom.xml` itself?

[2022-01-03 21:48] AlJohri commented on #342
Looks like I just made a very similar comment here https://github.com/adobe/S3Mock/issues/141#issuecomment-1004366838

Thanks for patiently replying to each of them @afranken!

Totally understand that the dependencies change over time and we can't isolate the classpath when docker is not used, but I think my question still stands- is it possible to remove the logging dependencies in the pom.xml vi

[2022-01-03 23:02] AlJohri commented on #342
FWIW, I manually removed the following imports:

[code]

And was able to add back in my desired logging import: `org.apache.logging.log4j:log4j-slf4j-impl`

and as long as I start the server with silent  = true:

[code]

everything seems to work smoothly without any version conflicts... so I guess it is safe to remove these dependencies? both from a library consumer perspective and perhaps even fr

[2022-01-05 02:10] dlsrb6342 commented on #313
@afranken Is there any plan to release multi-arch docker image?

[2022-01-05 17:11] afranken commented on #313
@dlsrb6342 yes, the plan is still to release a multi-arch image, but as detailed here: https://github.com/adobe/S3Mock/issues/313#issuecomment-992536185 we're currently relying on the docker-maven-plugin which still does not support multi-arch builds or releases.
We're also relying on that plugin to test the container while it's built and before we push, so refactoring the release process alone do

[2022-01-05 17:18] afranken commented on #342
We need at least one logging backend (otherwise, S3Mock will not log anything), and Spring Boot uses logback by default.
Replacing it with log4j or some other logger ([slf4j simple](https://search.maven.org/artifact/org.slf4j/slf4j-simple/1.7.32/jar) for instance) may work

Removing those dependencies from the S3Mock entirely may break some other user's tests.

This is the reason why it's much sim

[2022-01-07 10:39] PoladMahmudov commented on #253
It works well now for me. Feel free to close this issue, if nothing else is left about it. Thanks for the fix!

[2022-01-07 10:43] PoladMahmudov commented on #287
Upgrading to the latest version of `S3Mock` (v 2.3.2) and `Docker` (v 4.3.2) fixed this issue for me.

[2022-01-07 14:05] afranken commented on #217
Just added tests to list parts for both complete and abort - no errors are thrown in either case.
I made several big refactorings and fixes in various areas of the S3Mock. My guess: I fixed this as well.

[2022-01-07 14:06] afranken commented on #217
My assumption in the tests is BTW that if listing parts of a multipart upload after it's either aborted or completed, we expect the list to be empty, since the parts are associated with the `uploadId` of the multipart upload and that ceases to exist after completion or abortion.

[2022-01-07 14:11] afranken commented on #196
@krunalvora could you get this working?

You could also try running S3Mock in Docker during your tests.
Support for [TestContainers](https://www.testcontainers.org/) was added in S3Mock 2.2.0, a Docker container for general usage was added way before that.
If there is a possibility of running Docker during your build, I would highly suggest migrating to TestContainers.

[2022-01-07 14:13] #217 closed

[2022-01-11 11:20] afranken commented on #189
https://github.com/aws/aws-sdk-java-v2/pull/1535 has been fixed long ago, closing.

[2022-01-11 11:20] #189 closed

[2022-01-13 00:07] afranken commented on #66
Fix was merged years ago.

[2022-01-13 00:07] #66 closed

[2022-01-13 00:14] afranken commented on #77
closing, the two suggestions were implemented, when we need more, we'll open more issues.

[2022-01-13 00:14] #77 closed

[2022-01-13 00:53] afranken commented on #165
Just tested and can't reproduce.
I refactored the way we escape characters (for object keys), trailing slashes must have been removed in the code I fixed.

[2022-01-13 00:53] #165 closed

[2022-01-13 01:22] afranken commented on #165
test I used

[code]

[2022-01-13 22:40] afranken commented on #342
I'll close this, please reopen or open a new issue in case you have more questions.

[2022-01-13 22:40] #342 closed

[2022-01-16 13:48] afranken commented on #227
closing since nobody replied and I can't reproduce this.
I made several refactorings in 2021 to the way we escape incoming bucket names, keys, delimiters and prefixes, so I guess I fixed this along with several other issues complaining about (non-) matching keys and prefixes / delimiters.

[2022-01-16 13:48] #227 closed

[2022-01-16 16:20] AlJohri commented on #342
Ah, that makes sense- totally understand that you can't remove the packages.

Since this seems to have come up in a few other issues, I initially thought you might be able to remove the packages from the main `S3Mock` library and add them back in for the docker/testcontainers submodule, but if it's part of the public API, I can understand that this may be depended upon.

Fortunately, it's easy eno

[2022-01-19 11:08] #208 closed

[2022-01-19 22:32] afranken commented on #230
if I understand correctly, this is fixed with #231. Closing.

[2022-01-19 22:32] #230 closed

[2022-01-19 22:59] #196 closed

[2022-01-26 15:56] furlanrapha opened #389 "ARM support"
Is there any plan in the roadmap to create docker images that support ARM?

[2022-01-26 22:03] afranken commented on #389
yes, we're planning ARM64 support, but we're not quite there yet. :(
If you build the S3Mock repo on your ARM64 machine, the Docker container is built as an ARM64 container.

See also
#287
#313
#253

[2022-01-27 06:48] enidgjoleka opened #392 "Multi-part upload in S3 has a minimum size allowed of 5MB while S3mock can accept lower values."
Hi all,

Thank you for maintaining this project.

We are using S3mock for testing our interaction with S3 and one feature that we use a lot is multi-part upload.
The minimum allowed value in S3 is 5MB, [source](https://docs.aws.amazon.com/AmazonS3/latest/userguide/qfacts.html), while S3mock can accept even lower values.

This proved to be an issue for us when releasing in production because S3 rej

[2022-01-27 11:42] afranken commented on #392
@enidgjoleka thanks for the report, I'll look into it. :)

[2022-01-27 11:57] afranken commented on #157
See #213
First, the S3Movk should not accept these requests, so that the local storage is not overwritten.

Then, a new handler method could be implemented that handles the requests mentioned here.
Then, several other handler methods that can modify / delete objects must respect the legal hold / object retention.

[2022-01-31 12:36] #392 closed

[2022-02-01 12:58] #253 closed

[2022-02-01 15:11] afranken commented on #313
just released version `2.4.6` which is multi arch for `arm64` and `amd64`.
https://hub.docker.com/r/adobe/s3mock/tags?page=1&ordering=last_updated

[2022-02-01 15:12] afranken commented on #287
just released version `2.4.6` which is multi arch for `arm64` and `amd64`.
https://hub.docker.com/r/adobe/s3mock/tags?page=1&ordering=last_updated

[2022-02-01 15:12] #287 closed

[2022-02-01 15:12] afranken commented on #389
just released version `2.4.6` which is multi arch for `arm64` and `amd64`.
https://hub.docker.com/r/adobe/s3mock/tags?page=1&ordering=last_updated

[2022-02-01 15:12] #389 closed

[2022-02-01 22:00] mbenson opened #405 "#getObjectTagging incorrectly returns JSON instead of XML"
That's about it. Impossible to test thus.

[2022-02-02 16:59] afranken commented on #405
just released `2.4.7` with your fix. Thanks again for your contribution :)

[2022-02-02 16:59] #405 closed

[2022-02-02 17:26] mbenson commented on #405
Thank you for the quick attention!

[2022-02-09 21:45] ginkel opened #418 "Alternative for S3MockApplication.getPort()"
Hi there,

version 2.4.x has deprecated the `S3MockApplication.getPort()` method. Which alternative that isn't deprecated do you recommend to determine the port of the S3 Endpoint URI from within JUnit 5? So far we used `URI.create("https://localhost:%s".formatted(s3MockApplication.getPort()))`.

Thanks,
Thilo

[2022-02-11 15:54] afranken commented on #418
Thilo,
sorry, I should have added the deprecation notice description to the JavaDoc, and will do so soon. Thanks for pointing that out!

In general, using the S3Mock directly through it's Java API is now discouraged.

---------------

Rationale:

Starting and using the S3Mock directly (in a JUnit test) is and always will be problematic because the dependencies and the framework we use (Spring Boot

[2022-02-16 07:39] m15o opened #434 "Failed to run test with application.properties"
I uses s3mock from a test with a spring-boot application. I use S3MockExtension like [S3MockExtensionProgrammaticTest](https://github.com/adobe/S3Mock/blob/592199bd2582015826ada193a9925d9c3348c794/testsupport/junit5/src/test/java/com/adobe/testing/s3mock/junit5/sdk2/S3MockExtensionProgrammaticTest.java#L42-L44).

If `application.properties` exist in a classpath, then s3mock fails with NullPointerE

[2022-02-16 10:24] afranken commented on #434
Hi!
Thanks for reporting this.
Yet another issue of dependencies / user application / user properties clashing with S3Mock dependencies / application / properties...

See also #418 and other issues with the dependency-problem label.

I am preparing a fix, stay tuned. :)

Cheers,
Arne

[2022-02-21 22:41] #434 closed

[2022-03-02 14:09] k2r79 opened #459 "Copy command returns generic 404 instead of a NoSuchKey error"
**Exception**

When trying to copy a non-existing S3 object to the same bucket but with a different key a generic 404 exception occurs.

[code]

**Reproducing  the issue**

I use the following scratch file :

[code]

Please note I set this environment variable to initialize the bucket : *initialBuckets=my-bucket*

**Possible fix**

A quick fix I found was to change `FileStore`'s line 701 :

[code]

[2022-03-03 08:57] afranken commented on #459
Thanks for the report.
S3Mock must verify that the source exists before trying to copy data, see #462. :)

[2022-03-03 13:51] #459 closed

[2022-03-03 21:59] #418 closed

[2022-03-04 08:14] afranken commented on #459
@k2r79 just released 2.4.9 containing this fix. :)

[2022-03-06 10:08] samuelsayag opened #468 "Copy to same bucket/key empties content of object."
Hello,

I am currently using S3Mock and discovered that copying an object to the same (bucket/key) "empties" the content of the object.
The same code can be run against AWS/S3 and of course copies correctly the object (when multi-versioning is activated the versions are accumulated correctly).

Tested with `s3mock: 2.4.9`

Here is the code with S3Mock (it is `Scala` code):
[code]

This logs:
[code

[2022-03-06 10:32] afranken commented on #468
Thanks for the report.
I'm currently on vacation and will look into this when I'm back after March 14th.

[2022-03-23 21:27] #468 closed

[2022-03-28 02:23] anowak-ct opened #506 "Setting port number for docker - how?"
How can I change the http port number used by the adobe/s3mock container from 9090 to some other port?

[2022-03-28 10:58] afranken commented on #506
Hi!
Just like any Docker container, any port needs to be exported / mapped to a port on your machine.
See
https://github.com/adobe/S3Mock#build--run
for examples on how to run the container. (e.g. instead of setting `-p 9090:9090` set `-p 10000:9090`)

Also, if you want to change the port *inside* the container that's possible by setting environment variables on startup:
https://github.com/adobe/S

[2022-03-30 11:41] afranken commented on #506
@anowak-ct I expect that your question is answered, so I'll close this issue.
If there are more questions, just re-open this issue, or open a new one.

[2022-03-30 11:41] #506 closed

[2022-04-05 09:58] dizballanze opened #524 "Multipart upload is broken"
Hello,

I think you missed the last partition check [here](https://github.com/adobe/S3Mock/commit/51d1603bc9af378dfa40702e0fa0f42da0205936#diff-07a3497e4d1d20f99fc76699988605ee852cb60be26491ae2b34d2058c93d7cfR1354)

[2022-04-05 13:42] afranken commented on #524
thanks, I'll look into that - I was pretty sure that we have integration tests testing multipart uploads...

[2022-04-05 14:04] dizballanze commented on #524
It won't fail in case you are uploading a file each part of which is more than 5mb. Maybe that's the case.

[2022-04-12 08:34] ben-dale opened #536 "Cannot get attributes for object"
👋 I suspect this feature might not be implemented, but wanted to raise here, in case I'm missing something!

https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetObjectAttributes.html

I tried to retrieve object attributes  manually using S3mock and the documentation above, but this was unsuccessful. Making this GET request returns the object contents, instead of the attributes:
[code]

The erro

[2022-04-12 09:46] afranken commented on #524
Just added a test, everything works as expected.

How did you reproduce this exactly?

[2022-04-12 10:17] afranken commented on #536
Correct, this is currently not implemented.
Looks like it's not complicated, though, I'll add this API for the next release. :)

[2022-04-12 10:21] afranken commented on #536
ah - looked at the documentation again - I can add _some_ of the implementation.

`GetObjectAcl`, `GetObjectLegalHold`, `GetObjectLockConfiguration`, `GetObjectRetention` functionality currently does not exist in the S3Mock, so this can't be added.

`GetObjectTagging`, `HeadObject`, and `ListParts` functionality exists, so I could add that.

Not sure if partial responses work - I'll check.
This ma

[2022-04-12 12:29] dizballanze commented on #524
Sorry, my bad :(
That was a bug in our tests.
#https://github.com/aiokitchen/aiohttp-s3-client/pull/12

[2022-04-12 12:29] #524 closed

[2022-04-29 15:51] kjmahalingam opened #569 "Metadata directive "REPLACE" erroneously clears file contents when copying file to its existing path"
With a local S3Mock instance running, I uploaded a file `test.txt`. Its content length is 16, as seen below.
[code]

When copying this file to a new destination and replacing its metadata, we can see that the file is copied correctly.
[code]

However, when copying this file to _its existing location_ and replacing its metadata, we can see that the file's content length is now 0, meaning the conten

[2022-05-01 04:38] jfarshankar commented on #219
I am running into a similar issue, and the presigned urls works for me when actually using s3

[2022-05-01 17:38] jfarshankar commented on #219
[code]

I don't know the first thing about spring,  but based on the debug logs and FileStoreController, this request isn't getting mapped to any handler. I tried to use a presigned put, but I can't get that to work with user-defined metadata  either with S3Mock or S3.

[2022-05-02 10:22] afranken commented on #219
Sorry, but S3Mock currently does not implement the generation of presigned URLs.

[2022-05-02 15:40] jfarshankar commented on #219
Darn, thanks for the information.

[2022-05-02 15:56] jfarshankar commented on #219
Well, I can do basic presigned put/get requests with S3Mock, should that not be possible?

[2022-05-03 07:05] afranken commented on #219
You mean, if you add presigned parameters to a URL, you can request that against S3Mock?
That is expected - those parameters are currently completely ignored.

#125 lists a bug where a HEAD is possible with presigned parameters allowing only a GET request.

[2022-05-03 07:06] afranken commented on #125
presigned parameters are currently completely ignored, see also #219.

[2022-05-03 07:58] afranken commented on #569
Thank you for the report - this was fixed with #468 but I did not release after merging.

I will release a new version today :)

[2022-05-03 12:33] afranken commented on #569
just noticed that we are actually not replacing the metadata in this case.
So only copyObject with "COPY" is working correctly.

I'll fix this and then make a release. Probably tomorrow.

[2022-05-03 13:12] kjmahalingam commented on #569
Thank you for looking into this! Please let me know if you need me to try anything else out locally.

[2022-05-03 16:48] jfarshankar commented on #219
ah, thanks for the clarification.

[2022-05-04 10:00] afranken commented on #569
I just released 2.4.10 including my fix :)

[2022-05-04 10:00] #569 closed

[2022-05-04 10:00] afranken commented on #468
I just released 2.4.10 including my fix :)

[2022-05-12 12:24] rcardin opened #587 "Add a Spock extension"
I saw that Spock is missing from the list of the supported testing frameworks. The JUnit4 `@ClassRule` is not working correctly in Spock. So, it would be delightful to have a Spock extension that instantiates the `com.adobe.testing.s3mock.S3MockApplication` class and the S3 client.

I can help in doing so :)

[2022-05-13 07:00] afranken commented on #587
@rcardin thank you for your suggestion :)

Unfortunately, including the mock as a dependency and starting it in the unit test has always been problematic:
https://github.com/adobe/S3Mock/issues?q=is%3Aissue+is%3Aclosed+label%3Adependency-problem

I'm recommending to use the Docker container directly, or with https://www.testcontainers.org/ which is super easy to use and completely removes the S3Mo

[2022-06-22 21:12] johnbridstrup opened #653 "Using prefix filter doesn't give the same result as aws"
I'm trying to test an AWS lambda function written in python using s3 mock. I'm using the `boto3` library. I am getting differing behavior between real s3 and s3mock that is probably a pretty simple fix, although I haven't looked into the source.

When I run
[code]

I get, in s3mock:
`['prefix/file1', 'prefix/file2', ...]`

and in aws:
`['prefix/', 'prefix/file1', 'prefix/file2', ...]`

Seems like

[2022-07-05 07:31] mattdornfeld opened #673 "The putObject endpoint doesn't tag objects with multiple tags correctly"
I'm using the AWS Java 2 SDK to put an object in s3 with multiple tags. To do this I'm forming a `PutObjectRequest` with the `tagging` field populated. After doing some digging I've found that the AWS API expects multiple tags to be delimited by the & symbol. So the `tagging` field will be a string that looks like
[code]
When I attempt to write such a request to s3mock and retrieve the tags on the

[2022-07-11 14:22] DipalPrajapati opened #681 "S3MockContainer compilation error."
`
@Testcontainers
@RunWith(MockitoJUnitRunner.class)
public class ReportsGeneratorTest {
    private final String S3MOCK_VERSION="2.4.13";
    @Container
    private final S3MockContainer s3Mock = new S3MockContainer(S3MOCK_VERSION);

-------
@BeforeEach
    void init_mocks() throws InterruptedException {
 String endpoint = s3Mock.getHttpsEndpoint();
        client= createS3ClientV2(endpoint);
`
c

[2022-07-11 14:26] #681 closed

[2022-07-11 14:27] DipalPrajapati commented on #681
Resolved.

[2022-07-11 15:26] DipalPrajapati opened #682 "NullPointerException running the S3MockContainer in Java Unit testcases"
I am getting null pointer on S3Client , using https://github.com/adobe/S3Mock/blob/main/testsupport/testcontainers/src/test/java/com/adobe/testing/s3mock/testcontainers/S3MockContainerJupiterTest.java
`        client.createBucket(CreateBucketRequest.builder().bucket(BUCKET).build());`

[2022-07-16 17:50] pkukharenka opened #694 "Transfer manager multipart upload degradation"
https://github.com/adobe/S3Mock/issues/524

This PR made a degradation in upload multipart flow. Upload parts might be empty if this is very beginning of multipart upload. Whenever you start uplaoding file as multi parts, s3 transfer manager checks if there are parts that were already uploaded by calling:
`PartListing parts = s3.listParts(listPartsRequest)`

0 parts doesn't mean that upload is inv

[2022-07-20 21:58] greygoo5e opened #702 "KMS keys do not work in S3Mock"
Hello,

(Hopefully this is the correct forum for this)

I was able to make some progress setting up your docker container for the simulated S3 bucket. I was able to connect using the aws s3 command line utility with a redirect to the localhost:9191

I configured aws with:
`aws configure
access key=47110815
secret_access_key=c4353c4c-3318-460a-bdcc-b0a57bd8d9d8
region='us-east-1'`

Running the S3mo

[2022-07-21 17:34] afranken opened #706 "`aws-cli` does not work when using https/SSL for connection"
When trying to reproduce #702 by just starting the Docker container locally using

`docker run -p 9090:9090 -p 9191:9191 -e validKmsKeys="arn:aws:kms:us-east-1:1234567890:key/valid-test-key-ref" -e initialBuckets="bucket-a, bucket-b" -e LOGGING_LEVEL_ROOT=DEBUG -t adobe/s3mock:latest`

and then setting up the `aws-cli` by adding the key to the `~/.aws/credentials`:
[code]

and then trying to uploa

[2022-07-21 17:37] afranken commented on #706
Turns out the module `jdk.crypto.ec` must be present in the JRE running the application. It provides the TLS support we need here.

After adding the module, the `aws cp` command executes successfully:

[code]

[2022-07-22 00:37] bittap opened #708 "Cannot use S3Client"
Hi, I'm using Junit5.

[S3MockExtensionDeclarativeTest] is working well(https://github.com/adobe/S3Mock/blob/main/testsupport/junit5/src/test/java/com/adobe/testing/s3mock/junit5/sdk2/S3MockExtensionDeclarativeTest.java)

But if I use `S3Client`, this error occurs. I cannot  use `S3Client`,after I add this libray(abode-S3MOCK). My business logic uses S3Client. Therefore I need to use S3Client. Can

[2022-07-22 12:25] #706 closed

[2022-07-22 12:29] afranken commented on #702
@greygoo5e which version of the `aws-cli` are you using? And which version of the S3Mock?

When trying to reproduce this, I noticed that SSL connections with the `aws-cli` are not working with current versions of S3Mock at all, see #706
I will try to look at a few other issues as well and then release a new version in the next days.

[2022-07-22 15:00] #694 closed

[2022-07-22 15:04] afranken commented on #682
@DipalPrajapati do you have an example repo to reproduce this?

[2022-07-22 15:05] afranken commented on #702
Should add, after fixing #706, connection with HTTPS and KMS keys works without problems for me.

[2022-07-22 15:09] afranken commented on #708
@bittap this looks like a dependency problem - when you're directly using the S3Mock in a unit test, both the libraries of your application and the libraries of the S3Mock are mixed together, and there are all kinds of problems with this approach.

I recommend that you look into using S3Mock as a Docker container to avoid these problems. Have a look at #418

[2022-07-22 15:16] greygoo5e commented on #702
"Id": "sha256:ab218533a8ce00866c979166af9f508f1043a3fcc0e26ccba411ddddb5ae97b9",
       "RepoTags": [
            "adobe/s3mock:latest"

**aws-cli/2.7.16**

Without the --no-verify-ssl flag I get this stack trace:

`[javax.net](http://javax.net/).ssl.SSLHandshakeException: Received fatal alert: unknown_ca
    at java.base/sun.security.ssl.Alert.createSSLException(Unknown Source) ~[na:na]
    at ja

[2022-07-22 17:49] afranken commented on #673
Looking into this, we are using the default `Converter<String, List<?>>` provided by Spring which seems to expect some other delimiter like  a comma `,` or a semicolon `;`, but does not split the incoming String by `&`.

Conveniently, all our tests using a `PutObjectRequest` were testing one tag only, so all of then worked... :(

I added another test, and implemented a `Converter` that properly ha

[2022-07-23 13:21] #673 closed

[2022-07-23 15:09] afranken commented on #702
@greygoo5e I tested again, read AWS docs again, this never worked properly.

after #714 is merged and released, start S3Mock with:

[code]

and then use aws-cli like this:

`aws s3 cp ./test.json s3://bucket-a/ --endpoint-url=https://localhost:9191 --no-verify-ssl --sse aws:kms --sse-kms-key-id valid-test-key-id`

KMS keys have nothing to do with session keys, which we both tried to use in our fir

[2022-07-23 15:17] #702 closed

[2022-07-23 18:25] mattdornfeld commented on #673
Appreciate it!

[2022-07-24 21:13] afranken commented on #702
@greygoo5e also, looking at your first example again, you configured the KMS keys like this:
` validKmsKeys=arn:aws:kms:us-east-1:47110815:key/c51fdeea-f623-4a2b-90b5-15d72963cf9d,arn:aws:kms:us-east-1:47110815:key/c4353c4c-3318-460a-bdcc-b0a57bd8d9d8`

and you expected the key ID to be `47110815`. The ARN format is: `arn:aws:kms:region:acct-id:key/key-id`, so `47110815` is actually the AWS accoun

[2022-07-24 21:24] greygoo5e commented on #702
Hello Arne,

Thanks for clarifying what the KMS keys are used for. I don't have a live S3 bucket so I'm kinda flying a bit blind here, with just your container for validation.

I totally expected what you describe in the post from the 23rd to be the case, I was assuming that when I used the keys on the unencrypted connection and was able to do things like `ls` and `cp` that maybe the protections w

[2022-07-25 09:11] afranken commented on #702
The releases are done manually from time to time.
I still have one open issue left to investigate and expect a release in the next few days. :)

[2022-07-25 12:20] afranken commented on #653
@johnbridstrup sorry for the delay, I was on vacation.

Just tried this on a live S3 bucket.
For me, only the objects containing the prefix in the name are listed, not the prefix itself.

The same is true if I use the AWS CLI:
`aws s3api list-objects-v2 --bucket <bucketname> --prefix <prefixname>`
Only the objects are listed, not the prefix.

Looking at the documentation, it's a bit ambiguous and

[2022-07-25 12:22] afranken commented on #587
I'll close this issue since we won't implement this extension, see previous comment.
Thanks for the suggestion, though!

[2022-07-25 12:22] #587 closed

[2022-07-25 12:24] afranken commented on #682
@DipalPrajapati you opened a similar issue at the same time as this one, but closed it immediately.
Did you solve this issue as well?

I'll close this issue, please feel free to re-open or open a new issue with a reproducer :)

[2022-07-25 12:24] #682 closed

[2022-07-25 12:55] afranken commented on #228
Just re-generated the certificate / keystore:

[code]

[2022-07-26 10:04] afranken commented on #702
Just released `2.4.14` with the fix. :)

[2022-07-26 10:04] afranken commented on #694
Just released `2.4.14` with the fix. :)

[2022-07-26 10:04] afranken commented on #673
Just released `2.4.14` with the fix. :)

[2022-07-26 16:14] frankjkelly opened #720 "Unable to start embedded Jetty server - Invalid keystore format in older JDKs"
Seeing the following on my local computer running unit tests via Gradle

[code]

Any ideas?

[code]

[2022-07-26 16:51] afranken commented on #720
thanks for the report.
I'm guessing the problem is that I created the new keystore with Java 17, and now all older versions will refuse loading the keystore.

This is yet another "dependency-problem" where code will work for some people but not others depending on the application they use the S3Mock with.
Just one more reason to stop releasing the Java modules - this will work in our Docker contai

[2022-07-26 17:26] afranken commented on #720
just tested starting S3Mock locally with JDK 8.0.342 and JDK 11.0.16 - S3Mock starts with both versions without problems.

Example log:

[code]

[2022-07-27 14:10] afranken commented on #720
@frankjkelly
maybe I should clarify my last comment: with the keystore in the current release on my machine, S3Mock starts without problems with the current JDK11 and JDK8 versions.

[2022-07-27 14:14] afranken commented on #85
I have used `aws cp` with the last few versions to test integration without any problems.
This ticket is years old, so I expect whatever problem there was to be fixed now. :)

[2022-07-27 14:14] #85 closed

[2022-07-27 14:15] afranken commented on #207
looks like this question has been answered a while back, closing :)

[2022-07-27 14:15] #207 closed

[2022-07-29 12:43] #708 closed

[2022-08-03 21:22] jerry-cherry commented on #291
Hi, any plan for this?

[2022-08-03 21:37] jerry-cherry opened #734 "listMultipartUploads does not work with S3Client (v2)"
S3Client.listMultipartUploads() doesn't seem to hit `FileStoreController.listMultipartUploads()`. It works for V1 client and S3Client (v2) works against AWS S3.

It seems to be related to the request URL mapping:
- `software.amazon.awssdk.services.s3.transform.ListMultipartUploadsRequestMarshaller` binds the path as `/{Bucket}?uploads`
- `FileStoreController` binds it as `/{bucketName:.+}/`

Here

[2022-08-10 14:16] #734 closed

[2022-08-10 14:26] jerry-cherry commented on #734
Thanks Arne.

[2022-08-10 15:11] afranken commented on #291
Thanks for the bump.
Yes, I am planning on implementing this, my main impediment is that I will have to refactor the S3Mock quite a bit to store this and other information with the bucket and objects (this is not the only API still to be implemented).

For people using the S3Mock directly in Java code / Unit tests, every public method and class could be in use.
This makes refactorings hard, I will

[2022-08-10 15:38] jerry-cherry commented on #291
Thanks for explanation @afranken.
For us, saving and retrieving the lifecycle configuration is necessary at this moment. Actions to objects might be good to have, but not required.

[2022-08-10 15:57] afranken commented on #734
just released 2.4.16 including this fix.
Should be available in the next few minutes / hours on Docker hub and in the Maven one repo. :)

[2022-08-10 16:03] Flash619 commented on #720
Can confirm this issue is present on 1.8.0_332, but is not present on 1.8.0_345.

[2022-08-10 16:09] jerry-cherry commented on #734
sweet!!!

[2022-08-11 11:00] afranken commented on #720
Thanks for the confirmation, @Flash619
I'll close this issue then, the solution is to use the most recent JDK version of your preferred major version (tested with JDK 8, 11, 17)

[2022-08-11 11:00] #720 closed

[2022-08-13 11:43] ilopezv opened #751 "S3mock-junit5 extensions not working with spring-context-indexer enabled"
When an application has configured spring-context-indexer annotationProcessor in order to generate [spring indexs](https://docs.spring.io/spring-framework/docs/current/reference/html/core.html#beans-scanning-index), S3mock-junit5 extensions fails during unit test because beans contained in the artifact is not being found because it hasn´t got _META-INF/spring.components_ in it.

You can reproduce

[2022-08-15 09:14] afranken commented on #751
@ilopezv thanks for this issue, I'll add spring indixes to the S3Mock since it does not seem to have adverse effects if somebody is not using them, and it may speed up the start of S3Mock itself as well.

Other than that, I would like to point out that when you're directly using the S3Mock in a unit test, both the libraries of your application and the libraries of the S3Mock are mixed together, an

[2022-08-22 21:39] afranken commented on #229
Thanks for the feature request.
Going forward, it is recommended not to start the S3Mock directly, but to start the S3Mock Docker container, for example through [TestContainers](https://www.testcontainers.org/) or by using a plugin in the build process such as the [Fabric8 docker-maven-plugin](https://github.com/fabric8io/docker-maven-plugin/).

The S3Mock is then accessible through its HTTP API,

[2022-08-22 21:39] #229 closed

[2022-08-22 21:40] afranken commented on #229
Regarding your second comment:
Wouldn't it be sufficient to use different buckets?

[2022-08-22 21:41] afranken commented on #255
See comment in the other issue - it is recommended to use the S3Mock Docker container instead of starting the S3Mock directly from your JUnit tests.

The test artifacts will be deprecated and removed in the future.

[2022-08-22 21:41] #255 closed

[2022-08-23 04:31] vlsi commented on #229
I'm not sure there's a way to use different buckets in parameterized test. Would you please clarify?

[2022-08-24 09:19] ilopezv commented on #751
when is the release planned?

[2022-08-24 09:23] afranken commented on #751
@ilopezv I was planning to release this week, but I am currently in the process of refactoring the whole application to better accommodate the various open feature requests.
This is taking longer than expected.

I have merged several 1000+ lines PRs already and I'll need a few more before I can release again, sorry.
Hopefully I'll be done by next week :(

[2022-08-24 15:41] mguilherme opened #770 "Provide a way to remove the banner"
I'm using the S3Mock in a non spring application.

I didn't find a way to hide the banner for a non spring boot.

[code]

[2022-08-24 15:47] mguilherme commented on #770
Nevermind, since this is a spring boot application you can pass `spring.main.banner-mode=off` like any other property:

[code]

[2022-08-24 15:47] #770 closed

[2022-08-25 10:34] vlsi commented on #229
The thing is `S3MockExtension.Builder` does not work as "test instance" extension since it starts mock server in `beforeAll`, so if I move `S3MockExtension.Builder` to the test instance, I get an NPE:

[code]

[code]

[2022-08-25 12:29] afranken commented on #229
honestly, I don't understand the problem - in your test method, create the buckets you need, create the objects in those buckets. Use the test method name as the bucket name, for example.

Why would you need more than one S3Mock instance to test on multiple buckets?

[2022-08-25 12:55] vlsi commented on #229
Here's the test class: https://github.com/burrunan/gradle-s3-build-cache/blob/224a366517bbb7321763e37cb380986bd9697345/src/test/kotlin/com/github/burrunan/s3cache/RemoteCacheTest.kt#L52-L61

I do not control what I put in the bucket. It is Gradle who decides what to store and retrieve from the bucket.
At the same time, different tests might happen to use the same objects within the bucket (Gradle

[2022-08-31 17:26] afranken commented on #751
@ilopezv I finished the refactoring, this was quite a big one...
Now, with smaller classes and less duplicated code, it should be easier to implement the missing features like versions, ACLs, additional metadata, ...

I just released 2.5.0 for your convenience. :)

[2022-08-31 17:38] afranken commented on #94
I did not realize that we had this issue, but with version 2.5.0, I refactored more or less the whole S3Mock core, and we now store Objects in UUID-folders instead of using the incoming `key` values.
With this change, I could get rid of many workarounds only needed to properly encode/decode the keys in order to make them usable for paths in Java / the file system. :)

This has now been implemented

[2022-08-31 17:38] #94 closed

[2022-08-31 17:57] ilopezv commented on #751
Thanks a lot!!! It seems to be a big release.

Great work!!

[2022-08-31 18:13] bpfoster opened #782 "Tests failing on s3mock-junit5 v2.5.0"
Hello and thanks for the great work!  I am testing upgrading to the new s3mock-junit5 2.5.0 from 2.4.16.  No other changes to the project except the dependency version change.

All existing unit tests that have `@SpringBootTest` now fail with the following:
[code]

[2022-08-31 21:11] afranken commented on #782
@bpfoster thanks for the report. :)
We are testing the JUnit integrations ourselves in the project, but those are only smoke-tests without additional dependencies...

Is this a public repository where I could reproduce the error?

Weird, I did not remove configurations, only added more `@Configuration` classes...
I did update to Spring Boot 2.7.3, for example, which could always cause problems.
Lo

[2022-08-31 21:15] afranken commented on #782
I am guessing that you are testing a Spring Boot application with this method?

Unfortunately, that will always be problematic - your application will add Spring libraries and configurations to the classpath, and this is mixed with the S3Mock.
Any dependency update or change to the S3Mock could break your tests at any time :(

My recommendation is to use the S3Mock Docker container, for example wi

[2022-08-31 21:38] afranken commented on #782
I just released 2.5.1 - could you try again? :)

[2022-09-01 05:41] JoeNonExotic opened #786 "Using volumes flag for mounting causes issue: Root folder could not be created. Path: /rootBucket in v2.5.0 and v2.5.1"
### Problem

#### TL;DR
* Unable to use volume mount with releases `2.5.0` and `2.5.1`

#### Here is my simple setup:
[code]

#### Here are the contents of my `docker-compose.yaml`:

[code]

#### Expected
* Container spins up as expected

#### Actual
[code]

### Additional Info
* Interestingly this seems to be happening only with `2.5.x` releases and not with `2.4.x`, for example if i alter my `do

[2022-09-01 07:21] afranken commented on #786
@JoeNonExotic thanks for the report! :)
When refactoring for 2.5.x, I tried to forward exceptions to the application, log them etc.
Many times, when files are created or deleted, S3Mock would previously ignore exceptions or return values (e.g., if a directory could be created or deleted successfully).

For the root folder, I made a mistake:
Usually, the folder would not exist, so it needs to be cr

[2022-09-01 08:05] #786 closed

[2022-09-01 08:30] afranken commented on #786
Just released 2.5.2 and manually verified that your use-case works. :-)

[2022-09-01 09:55] afranken commented on #786
Looking at your example again - are you mounting that directory into the S3Mock root to simulate already uploaded objects?

This _may_ (accidentally) have worked in 2.4 and prior, starting with 2.5, buckets and objects are managed differently - they will have to be created properly through the S3 API, otherwise the S3Mock will return 404 Not Found.

[2022-09-01 12:14] bpfoster commented on #782
Hi @afranken thanks for the quick response!

Looks like 2.5.1 did not fix it.
My real repo is not public but I think I've got it down to a pretty bare-bones reproduction:
https://github.com/bpfoster/s3mock-junit5-2.5-error

I am not familiar with TestContainers but will take your recommendation and look into if I can get it working for us!

[2022-09-01 14:29] afranken commented on #782
@bpfoster thanks, I'll look into reproducing the error in your repo :)

[2022-09-01 14:50] afranken commented on #782
thanks for the repo, found the problem:
It was introduced with #752

Should have read the documentation carefully.
I understood that this is a non-breaking change where if S3Mock provides a [Component Index](https://docs.spring.io/spring-framework/docs/current/reference/html/core.html#beans-scanning-index), the application declaring the dependency would not be affected.

This is unfortunately not

[2022-09-01 14:52] afranken commented on #782
I will revert that change and make a new release, since it will break a high percentage of other integrations as well, at least if they are using Spring Boot for their application.

[2022-09-01 14:54] afranken commented on #751
@ilopezv I have bad news - this is actually a breaking change for _any application using Spring Boot_.

I will have to revert this change and make a new release, sorry.
Reading through the documentation the first time, I did not notice that if even _one_ library is found on the classpath including a Component Index, Spring will ignore all other configuration in the service, or other libraries.
For

[2022-09-01 14:54] afranken commented on #751
this was discovered by another customer (where the application did break after updating) in #782

[2022-09-01 14:58] afranken commented on #782
Potential workarounds would be:
Produce Spring Component Index files within your application, and cross your fingers that third party Spring libraries you're using are releasing versions of their software that include Component Indexes.

[code]

or, disable Spring Component Index processing by setting

[code]

[2022-09-01 15:23] #782 closed

[2022-09-01 15:54] afranken commented on #751
will close this as "won't fix", as I'm not able to solve this for you without breaking other people's integrations, sorry. :(

[2022-09-01 15:56] afranken commented on #782
Just released 2.5.3, so sorry for breaking your application.

However, I would still encourage you to look into TestContainers since it is very convenient not only for S3Mock, but databases and other services as well!
I'll try to set up an example project using TestContainers in an integration test. :)

[2022-09-01 15:59] JoeNonExotic commented on #786
`are you mounting that directory into the S3Mock root to simulate already uploaded objects?` : Yes, that was the plan initially, hence the report and it seems that its not meant to be used that way based on your [commit message](https://github.com/adobe/S3Mock/commit/626b13b096b3d82cc900f3e1368618ceb3774232) , but acknowledged that I will use API to do this instead. Thanks a lot for the quick turn

[2022-09-01 16:11] afranken commented on #786
Just as a clarification:
If you do not delete your objects and buckets (for example in a `AfterAll` method that just cleans up everything), S3Mock will by default delete all files and directories when shutting down.
When `retainFilesOnExit` is set to `true`, S3Mock will not remove those files and directories.

I will document the directory layout properly soon (was requested a while ago in #220, b

[2022-09-01 16:12] afranken commented on #220
I will document the directory layout properly soon (was requested a while ago here, but I wanted to refactor the way we store files first before doing the documentation, which I just finished in 2.5.0), but of the top of my head it should look like this:

[code]

this will finally be done soon in the `README.md`, promise! :)

[2022-09-01 18:37] bpfoster commented on #782
@afranken No worries - we were able to catch it prior to being integrated.

2.5.3 does indeed fix this for us - thank you for the very quick turnaround!

[2022-09-01 22:00] afranken commented on #241
I looked into this two years ago, the option was not available in the plugin and just learned to live with it.
Updating the copyright header is a bit tedious but not too hard to do.

The license-maven-plugin has since added `license.git.copyrightCreationYear` which means "file creation date in GIT" to the copyright instead of `license.git.copyrightYears` which lists inceptionYear and currentYear,

[2022-09-01 22:00] #241 closed

[2022-09-01 22:02] afranken commented on #241
In case I (or someone else) picks this up again:
I change the copyright header from
` Copyright ${license.git.copyrightYears} Adobe.`
to
` Copyright ${license.git.copyrightCreationYear} Adobe.`

and ran the command

`mvn license:format`

to re-format all files in the repo.

[2022-09-02 11:44] ilopezv commented on #751
Sorry, i'm on vacations without computer so i can't review the Code.

As simple solution, could you expose the configuration classes as public so people with indexer could use @import / @contextconfiguration directly on them?

[2022-09-02 14:09] afranken commented on #751
yeah, that is possible. :)

[2022-09-02 14:10] #220 closed

[2022-09-02 14:42] afranken commented on #786
finished documenting the file system structure:
https://github.com/adobe/S3Mock#file-system-structure

[2022-09-02 15:19] #751 closed

[2022-09-02 22:36] afranken commented on #751
released 2.5.4 earlier today, now all `@Configuration` / `@ConfigurationProperties` classes are public.

Have a nice vacation!

[2022-09-03 10:57] afranken commented on #653
@johnbridstrup
Closing, can't reproduce, see above.

If you can provide a full code example to reproduce the error above, I'm happy to look into this again.

[2022-09-03 10:57] #653 closed

[2022-09-03 11:18] afranken commented on #536
this can be implemented once LegalHold, ACL, ObjectLock and ObjectRetention are implemented.
See #213, #157, #290

[2022-09-03 11:20] afranken commented on #291
A bit of good news:
I refactored almost all of the S3Mock core in version 2.5.0, so it is now possible to store BucketLifeCycle and other information (LegalHold, ...) in the updated data structures.
Not sure when I'll get around to this, but it should be soon-ish.
Been looking at Object ACLs, LegalHold, Retention first since those requests are older than this one.

Thanks for your patience.

[2022-09-05 21:30] afranken commented on #157
Half of this is implemented, Retention is next.

[2022-09-07 16:29] #157 closed

[2022-09-07 16:57] afranken commented on #157
Took longer than expected, but we can finally close this issue. :)

Just released `2.6.0` adding support to handle these requests.

[2022-09-07 16:59] afranken commented on #536
implemented `GetObjectLegalHold`, `GetObjectLockConfiguration` and `GetObjectRetention` for #157, ACLs are next.

[2022-09-09 13:25] robd opened #801 "ListObjectsV2 etags should be quoted, but are not"
From real S3, the ETag value is surrounded by quotes (ie the java string looks like `"\"99f2fdceebf20fb2e891810adfb0eb71\""`) when calling ListObjectsV2, but S3Mock does not include quotes.

For other methods, eg `GetObjectRequest`, S3Mock does correctly put the quotes in the ETags.

Possibly related: https://github.com/adobe/S3Mock/commit/7f578e56a8b1e626d923efb7ea547b625f2900da
Also: https://git

[2022-09-09 13:57] #801 closed

[2022-09-09 14:02] afranken commented on #801
@robd thanks for the report - I thought I caught them all in 7f578e5 ;)
Will release in a couple of minutes.

[2022-09-09 15:22] afranken commented on #801
Just released 2.6.1 for your convenience. :)

[2022-09-09 18:34] masterkain commented on #786
I have an issue with 2.5.x+ both locally with docker compose and on kubernetes. I use `retainFilesOnExit: true`

I tried emptying the volumes thinking about a different filesystem structure between releases but this keeps happening on restart. Now using 2.6.1.

[code]

[2022-09-11 13:22] afranken commented on #786
@masterkain
So you are starting S3Mock with a mounted volume and `retainFilesOnExit: true`, then restart it on that volume?
See:
https://github.com/adobe/S3Mock#file-system-structure
`retainFilesOnExit` is meant to help with debugging, not meant to pre-populate the S3 buckets you are using in your tests.

This is not expected to work (although this may have worked up to 2.4.x for some use-cases) -

[2022-09-11 13:36] masterkain commented on #786
thanks for the reply, but I guess don't understand the point of the `retainFilesOnExit` option.

I have some use cases for s3mock, I use it in specs, as a local s3 compatible container for storing development uploads and on kubernetes as an s3 layer to store cached data between builds.

On kubernetes I have it on auto image update and `retainFilesOnExit`, the problem did start with the 2.5.x serie

[2022-09-11 16:27] afranken commented on #786
@masterkain
well, for now, you can just stay on 2.4.x unless you desperately need features added in 2.5 and later. :)

Let me think about this, maybe there is a low-maintenance way to support starting the S3Mock if the file system was created during an earlier run of the same version...

[2022-09-12 18:35] ginkel opened #807 "IfNoneMatch on GetObject fails when ETag is enclosed in quotes"
Hi there,

AFAICS the `noneMatch` (and `match`) check in `com.adobe.testing.s3mock.service.ObjectService#verifyObjectMatching` always fails if the supplied ETag is enclosed in quotes (which is a requirement if I understand https://github.com/adobe/S3Mock/issues/801 correctly), i.e., the GetObject operation never returns `NOT_MODIFIED`.

Thanks,
Thilo

P.S.: Tested w/ version 2.6.1

[2022-09-14 00:22] m15o opened #811 "LastModified is not updated when source and destination are the same."
In Amazon S3, LastModified is updated when source and destination are the same.
You can confirm that the LastModified of list-obejects-v2 is updated by executing the following shell script:

[code]

Similarly, LastModified is **not** updated when source and destination are the same in s3mock.
You can confirm that the LastModified value of list-obejects-v2 is the same by running the following shell

[2022-09-15 14:39] afranken commented on #807
thanks for the report. It seems that our etag handling is still inconsistent.
There also does not seem to be a unit or integration test for the "if (not) modified since" use-case...

[2022-09-15 15:48] afranken commented on #811
thanks for the report.

S3Mock indeed does not update any of the metadata when it is instructed to copy a key onto itself.
This use-case was completely broken until #468, but it seems that this detail slipped through.
I'll reproduce against S3 and then fix this.

[2022-09-17 14:47] afranken opened #818 "S3Mock does not start if data is in rootfolder from a previous run"
Split from #786
Requested by @masterkain

Until 2.5.0, it was possible to run S3Mock with `retainFilesOnExit=true`, stop S3Mock and then start it again to serve those objects (as long as it was not a MultipartUpload, which were always mapped in memory, with only the binaries stored on disk).

With 2.5.0, all objects are stored in a directory that does not reflect their key, since that has always b

[2022-09-17 14:49] afranken commented on #818
from #786

[2022-09-17 15:34] afranken commented on #818
from #786

[2022-09-17 15:38] afranken commented on #818
Even if it is not possible to start up the application with local files in place (for whatever reason, for example because files are unreadable or not found, or maybe because this issue can't be implemented), S3Mock should fail with a human readable error instead of throwing a cryptic error at runtime like it does right now:

[code]

[2022-09-23 11:23] #811 closed

[2022-09-23 11:43] afranken commented on #807
This turned out to be more complex than I thought - will have to try out a few more things locally and against a real S3 object...
Read the RFCs
https://www.rfc-editor.org/rfc/rfc2616#section-14.19
https://www.rfc-editor.org/rfc/rfc7232
which seem to be partially implemented by the S3 backend.

Noticed several challenges for this fix:
* There is only one integration test for the ETag behaviour, an

[2022-09-23 12:06] afranken commented on #811
@m15o
Just released 2.6.2 that fixes this issue.

[2022-09-23 16:54] afranken opened #829 "S3Mock should support conditional requests in all APIs"
While looking at ETag handling, I noticed that `if-(un)modified-since` headers are completely ignored.

These headers are specified for GetObject, HeadObject, CopyObject, UploadPartCopy APIs.

S3 now also supports conditional writes and conditional reads:
https://docs.aws.amazon.com/AmazonS3/latest/userguide/conditional-requests.html
https://docs.aws.amazon.com/AmazonS3/latest/userguide/conditiona

[2022-09-25 11:32] #807 closed

[2022-09-25 11:48] afranken commented on #807
@ginkel just released 2.6.3 fixing ETag handling _yet again_ - hopefully for good!

[2022-09-25 22:36] ginkel commented on #807
@afranken Works like a charm, thank you very much! :-)

[2022-09-26 12:42] #213 closed

[2022-09-26 12:42] #290 closed

[2022-09-26 13:04] afranken commented on #213
Just released 2.7.0 which adds ObjectAcl support.

[2022-09-26 13:04] afranken commented on #290
Just released 2.7.0 which adds ObjectAcl support.

[2022-09-27 11:11] ginkel opened #837 "Race condition for temp dir creation"
Hi there,

we are running S3Mock embedded using the `S3MockExtension`. I know that this scenario is deprecated. ;-)

After adding a second unit test class using `S3MockExtension` we are regularly seeing root folder creation failures in CI where two threads generate the same tmp file name and only one of them succeeds with `mkdir` in `StoreConfiguration#rootFolder`.

I have prepared a PR that hopef

[2022-09-27 19:07] #837 closed

[2022-09-27 19:46] afranken commented on #837
@ginkel thanks again for the PR, I just released [2.7.1](https://github.com/adobe/S3Mock/releases/tag/2.7.1) containing your fix. :)

[2022-09-27 19:49] ginkel commented on #837
@afranken Thanks for the speedy release! :-)

[2022-09-28 21:54] khpeek opened #842 "Are the ports the container listens on configurable?"
As far as I can tell from the documentation on Docker Hub (https://hub.docker.com/r/adobe/s3mock/), the exposed ports for the `adobe/S3Mock` container are fixed and set at 9090 and 9191 for HTTP and HTTPS, respectively. I would like to be able to configure the ports the container listens on, is this possible? If not, perhaps it could be made so (through an environment variable or command argument)

[2022-09-29 09:29] afranken commented on #842
@khpeek
what you're looking for is a feature of the [`docker run` command](https://docs.docker.com/engine/reference/commandline/run/#publish-or-expose-port--p---expose)

The ports of the application running inside the Docker container are 9090 and 9191, it's up to you to declare which ports to map them to on your system.

For example:
[code]

and

[code]

[2022-09-29 09:32] afranken commented on #842
If you're using a plugin or library to execute the container, that will usually provide a way to add a port mapping as well.
fabric8 docker-maven-plugin:
https://github.com/adobe/S3Mock/blob/main/integration-tests/pom.xml#L139

TestContainers:
https://github.com/adobe/S3Mock/blob/main/testsupport/testcontainers/src/main/java/com/adobe/testing/s3mock/testcontainers/S3MockContainer.java#L55

[2022-09-29 09:32] #842 closed

[2022-09-29 12:51] afranken commented on #842
one addition:

If you were to start the S3Mock directly using Java (so not the S3Mock Docker container), then you can set the ports as well.
This uses the default ports:
https://github.com/adobe/S3Mock/blob/main/testsupport/junit5/src/test/java/com/adobe/testing/s3mock/junit5/sdk2/S3MockExtensionProgrammaticTest.java#L43

but that builder class exposes the following methods as well: `withHttpPort(

[2022-09-29 19:03] mbalc opened #843 "ETag missing for multipart AWS SDK ManagedUploads"
https://www.loom.com/share/1bf4fca190db4444ad87e23be8992719

test case:
- write the following to `docker-compose.yaml`:
[code]
- write the following to `test.html`:
[code]
- run `docker compose up localstack`
- run `docker run -it -v /home/mbalc/Documents/repos/autodl:/usr/share/nginx/html -p 80:80 nginx`

- visit `http://localhost/test.html` with your browser
- open devtools console to monitor lo